<div class="container-fluid">
  <h1>Please select a product category to complete the stock take</h1>
  <form style="max-width: 1000px; margin-left: 1%">
    <div class="row justify-content-end">
      <select
        id="categoryID"
        class="btn"
        name="PCategory"
        style="
          background: var(--bs-gray-100);
          border-color: var(--bs-orange);
          color: var(--bs-orange);
          float: right;
          width: fit-content;
          margin-bottom: 20px;
        "
        (input)="categorySelect($event.target.value)"
      >
        <option value="" disabled selected>Product Category</option>
        <option
          id="categoryOption"
          value=" {{ productCategory.producT_CATEGORY_ID }} "
          *ngFor="let productCategory of productCategories"
        >
          {{ productCategory.categorY_NAME }}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="table-responsive" style="max-height: 600px">
        <table class="table">
          <thead>
            <tr>
              <th>Product Category</th>
              <th>Product type</th>
              <th>Product Name</th>
              <th>Actual Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dynamic of dynamicArray; let i = index">
              <td>{{ dynamic.CategoryName }}</td>
              <td>{{ dynamic.TypeName }}</td>
              <td>{{ dynamic.ProductName }}</td>
              <td>
                <input
                  (click)="quantityVali($event.target.value)"
                  class="form-control"
                  type="number"
                  style="width: 100px"
                  value="{{ dynamic.Quantity }}"
                  [(ngModel)]="dynamic.Quantity"
                  [ngModelOptions]="{ standalone: true }"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <i style="color: red" [hidden]="completeQuantity"
          >Quantity can only be equal to or more than 0</i
        >
      </div>
    </div>
    <div class="form-group">
      <button
        routerLink="/product-page"
        class="btn btn-primary"
        type="button"
        style="background: var(--bs-orange); border-color: var(--bs-orange)"
      >
        Back
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        style="
          background: var(--bs-orange);
          border-color: var(--bs-orange);
          float: right;
        "
        [disabled]="!completeQuantity"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Complete Stock take
      </button>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Stocktake Completed Successfully
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="!successSubmit"
          (click)="completeStock()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
