<div class="container-fluid">
  <h1>Update Product:</h1>
  <h2 style="margin-left: 1%">Products Details:</h2>
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    style="max-width: 700px; margin-left: 2%"
  >
    <div class="row">
      <div class="col">
        <label class="form-label"> Product Name: </label>
        <input
          class="form-control"
          name="productname"
          id="productname"
          type="text"
          [(ngModel)]="product.producT_NAME"
          (click)="namevalidate()"
          (keyup)="namevalidate()"
        />
        <div *ngIf="!details" style="color: Red">Invalid Details</div>
      </div>
      <div class="col">
        <label class="form-label"> Product Description: </label>
        <input
          class="form-control"
          name="productDescription"
          type="text"
          [(ngModel)]="product.producT_DESCRIPTION"
          (click)="survalidate()"
          (keyup)="survalidate()"
        />
        <div *ngIf="!pdetails" style="color: Red">Invalid Details</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label style="width: 100%" class="form-label">
          Product Category:
        </label>

        <select
          name="productCategory"
          id="productCategoryID"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="product.producT_CATEGORY_ID"
          (input)="categorySelect($event.target.value)"
        >
          <option value="-1" disabled>Product Category</option>
          <option
            *ngFor="let productCategory of productCategories"
            value=" {{ productCategory.producT_CATEGORY_ID }} "
          >
            {{ productCategory.categorY_NAME }}
          </option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" style="width: 100%"> Product type: </label>
        <select
          name="productType"
          id="productType"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="product.producT_TYPE_ID"
        >
          <option value="-1" disabled>Product Type</option>
          <option
            *ngFor="let productType of productTypesTemp"
            value=" {{ productType.producT_TYPE_ID }} "
          >
            {{ productType.typE_NAME }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Product Re-Order Limit:</label>
        <input
          class="form-control"
          name="reorder"
          type="text"
          required
          [(ngModel)]="product.reordeR_LIMIT"
        />
        <div *ngIf="!sdetails" style="color: Red">Invalid Details</div>
      </div>
      <div class="col">
        <label class="form-label">Product Barcode:</label>
        <input
          class="form-control"
          name="barcode"
          type="text"
          required
          [(ngModel)]="product.barcode"
        />
        <div *ngIf="!sdetails" style="color: Red">Invalid Details</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label"> Product Cost Price:(R) </label>
        <input
          class="form-control"
          name="costPrice"
          type="text"
          required
          [(ngModel)]="product.cosT_PRICE"
          (click)="Costvalidate()"
          (keyup)="Costvalidate()"
        />
        <div *ngIf="!cdetails" style="color: Red">Invalid Details</div>
      </div>
      <div class="col">
        <label class="form-label"> Product Selling Price:(R) </label>
        <input
          class="form-control"
          name="sellingPrice"
          type="text"
          required
          [(ngModel)]="product.sellinG_PRICE"
          (click)="Sellvalidate()"
          (keyup)="Sellvalidate()"
        />
        <div *ngIf="!sdetails" style="color: Red">Invalid Details</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-check">
          <input
            id="formCheck-1"
            class="form-check-input"
            type="checkbox"
          /><label class="form-label">VAT</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="Return()"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
            margin-top: 10px;
          "
          *ngIf="details && pdetails && cdetails && sdetails"
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Update This Product
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Product Successfully Updated
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/product-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
