<div class="container">
  <h1>Search wage rate</h1>
  <input
    type="search"
    placeholder="Wage Rate Name..."
    style="padding-bottom: 0%; margin-bottom: 2%"
    [(ngModel)]="searchText"
    (input)="Search()"
  />
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Wage rate name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of rates">
          <td>{{ rate.ratE_NAME }}</td>
          <td>R{{ rate.ratE_AMOUNT }}/h</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="background: var(--bs-orange); margin-top: 20px"
    routerLink="/employee-page"
  >
    Back
  </button>
</div>
