<app-update-warning
  *ngIf="updateWarning"
  [warning]="warning"
></app-update-warning>

<div class="container-fluid" *ngIf="!updateWarning">
  <h1>Maintain warning</h1>
  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (keyup)="Search()"
  />

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Warning Name</th>
          <th>Reason</th>
          <th>Employee Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warning of warnings">
          <td>{{ warning.warininG_NAME }}</td>
          <td>{{ warning.reason }}</td>
          <td>{{ warning.employeE_ID }}</td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="background: var(--bs-orange)"
              (click)="populateForm(warning)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="background: var(--bs-red)"
              data-toggle="modal"
              data-target="#warningDeleteModal"
              (click)="deletee(warning.warninG_ID)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button
    class="btn btn-primary"
    type="button"
    style="background: var(--bs-orange); margin-top: 20px"
    routerLink="/employee-page"
  >
    Back
  </button>
</div>

<div
  class="modal fade"
  id="warningDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="warningDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="warningDeleteModalLabel"
          *ngIf="!successDelete"
        >
          Are You Sure You Would Like To Delete This Warning
        </h5>
        <h5
          class="modal-title"
          id="warningDeleteModalLabel"
          *ngIf="successDelete"
        >
          Warning Successfully Deleted
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDelete"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          name="deleteempl"
          data-target="#warningDeleteModal"
          *ngIf="!successDelete"
          (click)="deleteEmployee()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#warningDeleteModal"
          data-dismiss="modal"
          *ngIf="successDelete"
          routerLink="/employee-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
