<div class="container-fluid">
  <h1>Add Debtor</h1>
  <form style="width: 800px" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label class="form-label">Name:</label>
        <input
          class="form-control"
          name="debtorName"
          type="text"
          [(ngModel)]="customerApplication.name"
          (click)="nameValidate()"
          (keyup)="nameValidate()"
        />
        <div *ngIf="!nameDetails" style="color: Red">Invalid Name</div>
      </div>
      <div class="col">
        <label class="form-label">Surname:</label
        ><input
          class="form-control"
          type="text"
          required
          name="debtorSurname"
          [(ngModel)]="customerApplication.surname"
          (click)="surnameValidate()"
          (keyup)="surnameValidate()"
        />
        <div *ngIf="!surnameDetails" style="color: Red">Invalid Surname</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Contact Number: </label>
        <div class="input-group prefix">
          <span
            class="input-group-addon"
            style="display: flex; justify-content: center; align-items: center"
            >+27</span
          >
          <input
            class="form-control"
            type="tel"
            required
            name="debtorNumber"
            minlength="9"
            maxlength="9"
            style="margin-left: 5px"
            [(ngModel)]="customerApplication.contactNumber"
          />
        </div>
        <div *ngIf="!contactDetails" style="color: Red">Invalid Details</div>
      </div>
      <div class="col">
        <label class="form-label">Email:</label>
        <input
          class="form-control"
          name="debtorEmail"
          type="text"
          [(ngModel)]="customerApplication.email"
          (click)="emailValidate()"
          (keyup)="emailValidate()"
        />
        <div *ngIf="!emailDetails" style="color: Red">Invalid Details</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label" style="width: 100%"> Province:</label>
        <select
          class="form-control"
          name="productCategory"
          id="productCategory"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
          "
          [(ngModel)]="customerApplication.provinceID"
          required
          (input)="categorySelect($event.target.value)"
        >
          <option value="-1" selected disabled>Province</option>
          <option value="1">Gauteng</option>
          <option value="2">Northen Cape</option>
          <option value="3">North-West</option>
          <option value="4">Mpumalanga</option>
          <option value="5">Limpopo</option>
          <option value="6">Western Cape</option>
          <option value="7">Eastern Cape</option>
          <option value="8">KwaZulu-Natal</option>
          <option value="9">Free State</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" style="width: 100%">City:</label>
        <select
          [disabled]="!categorySelected"
          name="productCategor"
          id="productCategor"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
          "
        >
          <option value="-1" selected disabled>City</option>
          <option value="1" *ngIf="Gauteng">Pretoria</option>
          <option value="2" *ngIf="Gauteng">Johannesburg</option>
          <option value="2" *ngIf="Gauteng">Centurion</option>
          <option value="2" *ngIf="Gauteng">Alexandra</option>
          <option value="2" *ngIf="Gauteng">Lenasia</option>
          <option value="2" *ngIf="Gauteng">Midrand</option>
          <option value="2" *ngIf="Gauteng">Roodepoort</option>
          <option value="2" *ngIf="Gauteng">Sandton</option>
          <option value="2" *ngIf="Gauteng">Soweto</option>
          <option value="2" *ngIf="Gauteng">Mshongo</option>
          <option value="3" *ngIf="NorthWest">Brits</option>
          <option value="4" *ngIf="NorthWest">Rustenburg</option>
          <option value="5" *ngIf="Mpumalanga">Tabazimbi</option>
          <option value="6" *ngIf="Mpumalanga">Mkloho</option>
          <option value="7" *ngIf="Limpopo">Zanene</option>
          <option value="8" *ngIf="Limpopo">Mghto</option>
          <option value="9" *ngIf="Western">Mossel Bay</option>
          <option value="5" *ngIf="Western">Cape Town</option>
          <option value="6" *ngIf="Eastern">East London</option>
          <option value="7" *ngIf="Eastern">Port Elizabeth</option>
          <option value="8" *ngIf="KwaZulu">Durban</option>
          <option value="9" *ngIf="KwaZulu">Natal</option>
          <option value="5" *ngIf="State">Bloemfontein</option>
          <option value="5" *ngIf="State">Bethlehem</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/debtor-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
            margin-top: 10px;
          "
          [disabled]="!nameDetails || !surnameDetails || !emailDetails || !contactDetails"
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A New Debtor
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Debtor Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/debtor-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
