<div class="container-fluid">
  <h1>Search Supplier</h1>

  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (keyup)="Search()"
  />

  <hr />

  <div class="table-responsive" style="max-height: 600px">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contct Number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers">
          <td>{{ supplier.name }}</td>
          <td>0{{ supplier.contacT_NUMBER }}</td>
          <td>{{ supplier.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button
    class="btn btn-primary"
    type="button"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    routerLink="/supplier-page"
  >
    Back
  </button>
</div>
