<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>Search Supplier</h1>

  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (keyup)="Search()"
  />

  <hr />

  <div class="table-responsive" style="max-height: 600px">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contct Number</th>
          <th>Alternate Number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers">
          <td>{{ supplier.name }}</td>
          <td>0{{ supplier.contacT_NUMBER }}</td>
          <td>0{{ supplier.alT_NUMBER }}</td>
          <td>{{ supplier.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button
    class="btn btn-primary"
    type="button"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    routerLink="/supplier-page"
  >
    Back
  </button>
</div>
