<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>Add Products:</h1>
  <h2 style="margin-left: 1%">New Products Details:</h2>
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    style="max-width: 700px; margin-left: 2%"
  >
    <div class="row">
      <div class="col">
        <label class="form-label"> Product Name: </label>
        <input
          class="form-control"
          name="productname"
          id="productname"
          placeholder="Name..."
          type="text"
          [(ngModel)]="product.producT_NAME"
          (keyup)="nameValidate()"
          (input)="nameValidate()"
        />
        <div *ngIf="!validName" style="color: Red">Invalid Product Name</div>
      </div>
      <div class="col">
        <label class="form-label"> Product Description: </label>
        <input
          class="form-control"
          name="productDescription"
          placeholder="Description..."
          type="text"
          [(ngModel)]="product.producT_DESCRIPTION"
          (keyup)="DescriptionValdate()"
          (input)="DescriptionValdate()"
        />
        <div *ngIf="!validDescription" style="color: Red">
          Invalid Product Description
        </div>
        <div *ngIf="!uniqueNameAndDesc" style="color: Red">
          Duplicate Product Name and Description
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label style="width: 100%" class="form-label">
          Product Category:
        </label>

        <select
          name="productCategory"
          id="productCategory"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="product.producT_CATEGORY_ID"
          required
          (click)="validateCategory()"
          (input)="categorySelect($event.target.value); validateCategory()"
        >
          <option value="-1" selected disabled>Product Category</option>
          <option
            value=" {{ productCategory.producT_CATEGORY_ID }} "
            *ngFor="let productCategory of productCategories"
          >
            {{ productCategory.categorY_NAME }}
          </option>
        </select>
        <div *ngIf="!validCategory" style="color: Red">
          Please Select A Category
        </div>
      </div>
      <div class="col">
        <label class="form-label" style="width: 100%"> Product type: </label>
        <select
          [disabled]="!categorySelected"
          name="productType"
          id="productType"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          (click)="validateType()"
          (input)="validateType()"
          [(ngModel)]="product.producT_TYPE_ID"
        >
          <option value="-1" selected disabled>Product Type</option>
          <option
            value=" {{ productType.producT_TYPE_ID }} "
            *ngFor="let productType of productTypesTemp"
          >
            {{ productType.typE_NAME }}
          </option>
        </select>
        <div *ngIf="!validType" style="color: Red">Please Select A Type</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Product Re-Order Limit:</label>
        <input
          class="form-control"
          name="reorder"
          type="number"
          placeholder="Re-Order Limit..."
          required
          (keyup)="ReorderValidate()"
          (input)="ReorderValidate()"
          [(ngModel)]="product.reordeR_LIMIT"
        />
        <div *ngIf="!validReorder" style="color: Red">
          Invalid Re-Order Limit
        </div>
      </div>
      <div class="col">
        <label class="form-label">Product Barcode:</label>
        <input
          class="form-control"
          name="barcode"
          type="text"
          placeholder="Barcode..."
          required
          (keyup)="BarcodeValidate()"
          (input)="BarcodeValidate()"
          [(ngModel)]="product.barcode"
        />
        <div *ngIf="!validBarcode" style="color: Red">Invalid Barcode</div>
        <div *ngIf="!uniqueBarcode" style="color: Red">Duplicate Barcode</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label"> Product Cost Price: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              R
            </div>
          </div>
          <input
            class="form-control"
            name="costPrice"
            type="number"
            placeholder="0.00"
            required
            [(ngModel)]="product.cosT_PRICE"
            (keyup)="Costvalidate()"
            (input)="Costvalidate()"
          />
        </div>
        <div *ngIf="!validCost" style="color: Red">Invalid Cost Price</div>
      </div>
      <div class="col">
        <label class="form-label"> Product Selling Price:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              R
            </div>
          </div>
          <input
            class="form-control"
            name="sellingPrice"
            type="number"
            required
            placeholder="0.00"
            [(ngModel)]="product.sellinG_PRICE"
            (keyup)="Sellvalidate()"
            (input)="Sellvalidate()"
          />
        </div>
        <div *ngIf="!validSell" style="color: Red">Invalid Selling Price</div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="form-label" style="width: 100%">Product Picture:</label>
        <input
          #file
          type="file"
          class="form-control"
          (change)="uploadFile(file.files)"
        />
        <div style="color: red" *ngIf="!validFile">Invalid Picture</div>
      </div>
      <div class="col-6">
        <div class="form-check">
          <input
            id="formCheck-1"
            class="form-check-input"
            type="checkbox"
            name="vat"
            [(ngModel)]="product.vat"
          /><label class="form-label">VAT</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/product-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
            margin-top: 10px;
          "
          (mouseover)="FormValidate()"
          (pointerover)="FormValidate()"
          [disabled]="
            !validName ||
            !validDescription ||
            !validCost ||
            !validSell ||
            !validReorder ||
            !validBarcode ||
            !uniqueNameAndDesc ||
            !uniqueBarcode ||
            !validFile
          "
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A New Product
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Product Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/product-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
