<app-update-employee-type
  *ngIf="updateEmployeeType"
  [employeetype]="employeetype"
  (return)="back()"
></app-update-employee-type>

<div class="container-fluid" *ngIf="!updateEmployeeType">
  <form>
    <h1>Maintain Employee Type</h1>

    <input
      class="form-control search-input"
      type="text"
      name="search-bar"
      placeholder="Search..."
      style="width: 320px"
      [(ngModel)]="searchText"
      (input)="Search()"
      (keyup)="Search()"
    />

    <hr />

    <div class="table-responsive" style="max-height: 600px">
      <table class="table">
        <thead>
          <tr>
            <th>Position Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employeetype of employeeTypesTemp">
            <td>{{ employeetype.positioN_NAME }}</td>
            <td>
              <button
                class="btn btn-primary"
                type="button"
                name="position"
                style="
                  background: var(--bs-orange);
                  border-color: var(--bs-orange);
                "
                (click)="populateForm(employeetype)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                class="btn btn-primary"
                type="button"
                name="delete"
                style="background: var(--bs-red); border-color: var(--bs-red)"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="deleteID(employeetype)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn btn-primary"
      type="button"
      style="
        background: var(--bs-orange);
        border-color: var(--bs-orange);
        margin-left: 10px;
      "
      routerLink="/employee-page"
    >
      Back
    </button>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
          *ngIf="!successDelete && !hasReference"
        >
          Are You Sure You Would Like To Delete This Employee Type
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successDelete">
          Employee Type Successfully Deleted
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="hasReference">
          All Employees With This Type Must be Changes First
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDelete && !hasReference"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          name="deleteempl"
          data-target="#exampleModal"
          *ngIf="!successDelete && !hasReference"
          (click)="deleteEmployeeType()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successDelete"
          routerLink="/employee-page"
        >
          OK
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="hasReference"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
