<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
    maxlength="50"
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" *ngIf="!displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>VIEW AUDIT LOG</h1>

  <input
  maxlength="50"
    class="form-control"
    type="search"
    style="width: 320px"
    placeholder="Enter Audit Log Search Details.."
    (keyup)="Search($event.target.value)"
  />

  <hr />

  <div class="table-responsive" style="max-height: 600px">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Audit ID</th> -->
          <!-- <th>User ID </th> -->
          <th>Name</th>
          <th>Surname</th>
          <th>Function Used</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let audit of auditArrayTemp">
          <!-- <td>{{ audit.auditID }}</td> -->
          <!-- <td>{{ audit.userID }}</td> -->
          <td>{{ audit.name }}</td>
          <td>{{ audit.surname }}</td>
          <td>{{ audit.function }}</td>
          <td>{{ audit.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button
    class="btn btn-primary"
    type="button"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 10px;
    "
    routerLink="/audit-log-page"
  >
    Back
  </button>
</div>
