<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF" *ngIf="!capturePayment">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>View Debtor Account</h1>
  <h2 style="margin-left: 1%">Debtor Details:</h2>
  <form style="width: 700px; margin-left: 2%" #form="ngForm">
    <div class="row">
      <div class="col">
        <label class="form-label">Name:</label>
        <input
          class="form-control"
          name="debtorName"
          placeholder="Debtor Name"
          type="text"
          [(ngModel)]="debtor.name"
          disabled
        />
      </div>
      <div class="col">
        <label class="form-label">Surname:</label
        ><input
          class="form-control"
          type="text"
          placeholder="Debtor Surname"
          required
          name="debtorSurname"
          [(ngModel)]="debtor.surname"
          disabled
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Contact Number: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              +27
            </div>
          </div>
          <input
            class="form-control"
            type="text"
            required
            id="inlineFormInputGroup"
            name="emplyeeNumber"
            placeholder="123456789"
            minlength="9"
            maxlength="9"
            [(ngModel)]="debtor.contacT_NUMBER"
            disabled
          />
        </div>
      </div>
      <div class="col">
        <label class="form-label">Email:</label>
        <input
          class="form-control"
          name="debtorEmail"
          placeholder="update@email.com"
          type="text"
          [(ngModel)]="debtor.email"
          disabled
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label" style="width: 100%"> Province:</label>
        <select
          class="form-control"
          name="productCategory"
          id="productCategory"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="debtor.provincE_ID"
          required
          disabled
          (input)="categorySelect($event.target.value)"
        >
          <option value="-1" selected disabled>Province</option>
          <option
            *ngFor="let province of provinces"
            value="{{ province.provinceID }}"
          >
            {{ province.provinceName }}
          </option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" style="width: 100%">City:</label>
        <select
          disabled
          name="productCategor"
          id="productCategor"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="debtor.cityID"
        >
          <option value="-1" selected disabled>City</option>
          <option *ngFor="let city of citiesTemp" value="{{ city.cityID }}">
            {{ city.cityName }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="form-label">Credit Limit:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              R
            </div>
          </div>
          <input
            class="form-control"
            name="debtorLimit"
            type="number"
            placeholder="0.00"
            required
            value="{{ debtor.crediT_LIMIT.toFixed(2) }}"
            disabled
          />
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Amount Owing:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              R
            </div>
          </div>
          <input
            class="form-control"
            name="debtorAmountOwing"
            type="text"
            placeholder="0.00"
            required
            value="{{ debtor.amounT_OWING.toFixed(2) }}"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/debtor-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Back
        </button>
      </span>
      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="populateForm()"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Capture payment
        </button>
      </span>
    </div>
  </form>
</div>

<app-capture-payment
  *ngIf="capturePayment"
  [customerAccount]="debtor"
  (return)="Return()"
></app-capture-payment>
