<div class="container-fluid">
  <h1>Credit Application</h1>
  <h2 style="margin-left: 1%">Application Details:</h2>
  <form style="width: 700px; margin-left: 2%" #form="ngForm">
    <div class="row">
      <div class="col">
        <label class="form-label">Name:</label>
        <input
          class="form-control"
          name="debtorName"
          placeholder="Debtor Name"
          type="text"
          [(ngModel)]="customerApplication.name"
          (input)="nameValidate()"
          (keyup)="nameValidate()"
        />
        <div *ngIf="!nameDetails" style="color: Red">Invalid Name</div>
      </div>
      <div class="col">
        <label class="form-label">Surname:</label
        ><input
          class="form-control"
          type="text"
          placeholder="Debtor Surname"
          required
          name="debtorSurname"
          [(ngModel)]="customerApplication.surname"
          (input)="surnameValidate()"
          (keyup)="surnameValidate()"
        />
        <div *ngIf="!surnameDetails" style="color: Red">Invalid Surname</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Contact Number: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              +27
            </div>
          </div>
          <input
            class="form-control"
            type="text"
            required
            id="inlineFormInputGroup"
            name="emplyeeNumber"
            placeholder="123456789"
            minlength="9"
            maxlength="9"
            [(ngModel)]="customerApplication.contactNumber"
            (input)="ValidateContactNumber()"
            (keyup)="ValidateContactNumber()"
          />
        </div>
        <div *ngIf="!contactDetails" style="color: Red">
          Invalid Contact Number
        </div>
        <div *ngIf="!uniqueContactNumber" style="color: Red">
          Duplicate Contact Number
        </div>
      </div>
      <div class="col">
        <label class="form-label">Email:</label>
        <input
          class="form-control"
          name="debtorEmail"
          placeholder="example@email.com"
          type="text"
          [(ngModel)]="customerApplication.email"
          (input)="emailValidate()"
          (keyup)="emailValidate()"
        />
        <div *ngIf="!emailDetails" style="color: Red">Invalid Email</div>
        <div *ngIf="!uniqueEmail" style="color: Red">Duplicate Email</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label" style="width: 100%"> Province:</label>
        <select
          class="form-control"
          name="productCategory"
          id="productCategory"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="customerApplication.provinceID"
          required
          (click)="Provalidate()"
          (input)="categorySelect($event.target.value)"
        >
          <option value="-1" selected disabled>Province</option>
          <option
            *ngFor="let province of provinces"
            value="{{ province.provinceID }}"
          >
            {{ province.provinceName }}
          </option>
        </select>
        <div *ngIf="!provinceDetails" style="color: Red">
          Please Select A Province
        </div>
      </div>
      <div class="col">
        <label class="form-label" style="width: 100%">City:</label>
        <select
          [disabled]="!categorySelected"
          name="productCategor"
          id="productCategor"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="customerApplication.cityID"
          (click)="cityValidate()"
        >
          <option value="-1" selected disabled>City</option>
          <option *ngFor="let city of citiesTemp" value="{{ city.cityID }}">
            {{ city.cityName }}
          </option>
        </select>
        <div *ngIf="!cityDetails" style="color: Red">Please Select A City</div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="form-label">Credit Limit:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              R
            </div>
          </div>
          <input
            class="form-control"
            name="debtorLimit"
            type="number"
            placeholder="0.00"
            required
            [(ngModel)]="customerApplication.creditLimit"
            (input)="creditValidate()"
            (keyup)="creditValidate()"
          />
        </div>
        <div *ngIf="!creditDetails" style="color: Red">
          Invalid Credit Limit
        </div>
      </div>
    </div>

    <div class="form-group">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="Return()"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
          data-toggle="modal"
          data-target="#declineModal"
        >
          Decline
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
            margin-top: 10px;
          "
          (mouseover)="FormValidate()"
          [disabled]="
            !nameDetails ||
            !surnameDetails ||
            !emailDetails ||
            !contactDetails ||
            !creditDetails ||
            !provinceDetails ||
            !uniqueEmail ||
            !uniqueContactNumber ||
            !cityDetails
          "
        >
          Approve
        </button>
      </span>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like Approve This Application
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Application Successfully Approved
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          (click)="Return()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="declineModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successDecline">
          Are You Sure You Would Like To Decilne ThisApplication
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successDecline">
          Application Successfully Declined
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDecline"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successDecline"
          (click)="Decilne()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successDecline"
          (click)="Return()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
