<form
  class="text-dark"
  style="
    width: 720px;
    height: 500px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border-color: var(--bs-orange);
  "
  *ngIf="!boolReturn"
>
  <h1 style="width: 500px">Return Supplier Order</h1>
  <div class="table-responsive" style="height: 200px !important; width: 1000px">
    <table class="table">
      <thead>
        <tr>
          <th>OrderID</th>
          <th>Supplier Name</th>
          <th>Date Placed</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr *ngFor="let dynamic of dynamicArray">
          <td>{{ dynamic.OrderID }}</td>
          <td>{{ dynamic.SupplierName }}</td>
          <td>{{ dynamic.DatePlaced }}</td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="
                background: var(--bs-orange);
                border-color: var(--bs-orange);
              "
              (click)="boolReturn = true; populateForm(dynamic.OrderID)"
            >
              Return Order
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    routerLink="/supplier-page"
    class="btn btn-primary"
    type="button"
    style="
      background: var(--bs-orange);
      border-color: var(--bs-orange);
      margin-left: 10px;
    "
  >
    Back
  </button>
</form>
<app-return-order
  *ngIf="boolReturn"
  [order]="order"
  [supplier]="supplier"
  (return)="back()"
>
</app-return-order>
