<app-update-employee
  *ngIf="updateEmployee"
  [employee]="employee"
  (return)="back()"
></app-update-employee>

<div class="container-fluid" *ngIf="!updateEmployee">
  <h1>Maintain Employee</h1>

  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (keyup)="Search()"
  />

  <div class="table-responsive" style="height: 450px">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Contact Number</th>
          <th>ID Number</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.title }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>0{{ employee.contacT_NUMBER }}</td>
          <td>{{ employee.employeE_ID_NUMBER }}</td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="background: var(--bs-orange)"
              (click)="populateForm(employee)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="background: var(--bs-red)"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="deletee(employee.employeE_ID)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    routerLink="/employee-page"
    style="
      --bs-warning: #f6c23e;
      --bs-warning-rgb: 246, 194, 62;
      background: var(--bs-orange);
      margin-left: 10px;
      margin-top: 20px;
    "
  >
    Back
  </button>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successDelete">
          Are You Sure You Would Like To Delete This Employee
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successDelete">
          Employee Successfully Deleted
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDelete"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          name="deleteempl"
          data-target="#exampleModal"
          *ngIf="!successDelete"
          (click)="deleteEmployee()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successDelete"
          routerLink="/employee-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
