<app-update-product-type
  *ngIf="updateProductType"
  [productType]="productType"
  (return)="back()"
></app-update-product-type>

<div class="container-fluid" *ngIf="!updateProductType">
  <form>
    <h1>Maintain Product Type</h1>

    <input
      class="form-control search-input"
      type="text"
      name="search-bar"
      placeholder="Search..."
      style="width: 320px"
      [(ngModel)]="searchText"
      (keyup)="Search()"
    />

    <hr />

    <div class="table-responsive" style="max-height: 550px">
      <table class="table">
        <thead>
          <tr>
            <th>Product Type Name</th>
            <th>Product Category</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productType of dynamicArray">
            <td>{{ productType.name }}</td>
            <td>{{ productType.category }}</td>
            <td>
              <button
                class="btn btn-primary"
                type="button"
                style="
                  background: var(--bs-orange);
                  border-color: var(--bs-orange);
                "
                (click)="populateForm(productType.productType)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                class="btn btn-primary"
                type="button"
                style="background: var(--bs-red); border-color: var(--bs-red)"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="deletee(productType.productType)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn btn-primary"
      type="button"
      style="
        border-color: var(--bs-orange);
        background: var(--bs-orange);
        margin-left: 10px;
      "
      routerLink="/product-page"
    >
      Back
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" *ngIf="hasReference">
              Product Type Cannot Be Deleted Because There Is A Product With
              This Type
            </h5>
            <h5
              class="modal-title"
              id="exampleModalLabel"
              *ngIf="!successDelete && !hasReference"
            >
              Are You Sure You Would Like To Delete This Product Type
            </h5>
            <h5
              class="modal-title"
              id="exampleModalLabel"
              *ngIf="successDelete"
            >
              Product Type Successfully Deleted
            </h5>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              *ngIf="!successDelete && !hasReference"
            >
              No
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              name="deleteempl"
              data-target="#exampleModal"
              *ngIf="!successDelete && !hasReference"
              (click)="deleteProductType()"
            >
              Yes
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
              data-dismiss="modal"
              *ngIf="successDelete"
              routerLink="/product-page"
            >
              OK
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
              data-dismiss="modal"
              *ngIf="hasReference"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
