<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5" style="background: #111111">
                <h1 style="color: var(--bs-orange); text-align: center">
                  Reset Password
                </h1>

                <p style="color: var(--bs-orange); text-align: center">
                  Please Reset Your Password Below
                </p>

                <form class="user">
                  <div class="mb-3"></div>
                  <div class="mb-3">
                    <div class="col" style="text-align: center">
                      <label class="col-form-label">Enter New Password</label>
                    </div>
                    <input
                      class="form-control form-control-user"
                      type="password"
                      id="exampleInputPassword"
                      placeholder="Password"
                      name="password"
                      style="font-size: 16px"
                    />
                  </div>
                  <div class="col" style="text-align: center">
                    <label class="col-form-label">Confirm New Password</label>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    style="
                      border-radius: 8rem;
                      height: 49.5px;
                      color: var(--bs-gray);
                      margin-bottom: 60px;
                    "
                    placeholder="Password"
                  />

                  <button
                    class="btn btn-primary d-block btn-user w-100"
                    type="submit"
                    style="background: var(--bs-orange)"
                  >
                    Login
                  </button>
                  <hr />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
