<!--------------------Logout Timer Cards------------------------------------->

<div class="row">
  <h1>Logout Timer</h1>

  <div class="card-group">
    <div class="card">
      <div
        class="card-body"
        style="border: 2px solid var(--bs-gray-900)"
        data-toggle="modal"
        data-target="#AddTimerModal"
      >
        <i
          class="fas fa-plus text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Add Logout Timer
        </button>
      </div>
      <div
        class="card-body"
        style="border: 2px solid var(--bs-gray-900)"
        data-toggle="modal"
        data-target="#ViewTimerModal"
      >
        <i
          class="fas fa-eye text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          View Logout Timer
        </button>
      </div>
    </div>
    <div class="card">
      <div
        class="card-body"
        style="border: 2px solid var(--bs-gray-900)"
        data-toggle="modal"
        data-target="#EditTimerModal"
      >
        <i
          class="fas fa-pencil-alt text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Edit Logout Timer
        </button>
      </div>
      <div
        class="card-body"
        style="border: 2px solid var(--bs-gray-900)"
        data-toggle="modal"
        data-target="#DeleteTimerModal"
      >
        <i
          class="fas fa-trash text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Delete Logout Timer
        </button>
      </div>
    </div>
  </div>
</div>

<!------------------------------Timer Modals----------------------------------->

<!-- Modal Delete -->

<div
  class="modal fade"
  id="DeleteTimerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="DeleteTimerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 585px">
      <div class="modal-header">
        <h2 class="modal-title" id="DeleteTimerLabel" *ngIf="!successDelete">
          Delete Logout Timer?
        </h2>
        <h2 class="modal-title" id="DeleteTimerLabel" *ngIf="successDelete">
          Logout Timer Successfully Deleted
        </h2>
      </div>
      <div class="modal-body" *ngIf="!successDelete">
        This Action Will Delete The Logout Timer That Is Currently Set To:
        {{ time }} Minutes
        <br />
        Are You Sure You Want To Do This?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDelete"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-warning"
          data-target="#DeleteTimerModal"
          *ngIf="!successDelete"
          (click)="deleteLogoutTimer(); successDelete = true"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#DeleteTimerModal"
          data-dismiss="modal"
          *ngIf="successDelete"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->

<div
  class="modal fade"
  id="EditTimerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditTimerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 585px">
      <div class="modal-header">
        <h2 class="modal-title" id="EditTimerLabel" *ngIf="!successEdit">
          Edit Logout Timer?
        </h2>
        <h2 class="modal-title" id="EditTimerLabel" *ngIf="successEdit">
          New Logout Time in Minutes:
        </h2>
      </div>
      <div class="modal-body">
        <p *ngIf="!successEdit">
          This Action Will Edit The Logout Timer That Is Currently Set To:
          {{ time }} Minutes
          <br />
          Are You Sure You Want To Do This?
        </p>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="your@email.com"
          (keyup)="ValidateTime()"
          [(ngModel)]="time"
          [ngModelOptions]="{ standalone: true }"
          *ngIf="successEdit"
        />
        <p *ngIf="!validTime" style="color: red">Please Enter A Valid Time</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successEdit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-warning"
          data-target="#EditTimerModal"
          *ngIf="!successEdit"
          (click)="successEdit = true"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#EditTimerModal"
          data-dismiss="modal"
          *ngIf="successEdit"
          (click)="editLogoutTimer(); this.successEdit = false"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add -->

<div
  class="modal fade"
  id="AddTimerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="AddTimerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 585px">
      <div class="modal-header">
        <h2 class="modal-title" id="AddTimerLabel" *ngIf="!successAdd">
          Add Logout Timer?
        </h2>
        <h2 class="modal-title" id="AddTimerLabel" *ngIf="successAdd">
          Time in Minutes
        </h2>
      </div>
      <div class="modal-body">
        <p *ngIf="!successAdd">
          This Action Will Add a Logout Timer That Will Be Implemented In The
          System. <br />
          Are You Sure You Want To Do This?
        </p>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Time In Minutes"
          (keyup)="ValidateTime()"
          [(ngModel)]="time"
          [ngModelOptions]="{ standalone: true }"
          *ngIf="successAdd"
        />
        <p *ngIf="!validTime" style="color: red">Please Enter A Valid Time</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successAdd"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-warning"
          data-target="#AddTimerModal"
          *ngIf="!successAdd"
          (click)="successAdd = true"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#AddTimerModal"
          data-dismiss="modal"
          *ngIf="successAdd"
          (click)="addLogoutTimer()"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal View -->

<div
  class="modal fade"
  id="ViewTimerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ViewTimerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 585px">
      <div class="modal-header">
        <h2 class="modal-title" id="ViewTimerLabel">
          The Current Logout Timer Is Set To:
        </h2>
      </div>
      <div class="modal-body">
        <h2>{{ time }} Minutes</h2>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successAdd"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
