<body id="page-top" *ngIf="loggedIn">
  <div id="wrapper">
    <nav
      class="navbar navbar-light align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
      style="background: #111111"
    >
      <div class="container-fluid d-flex flex-column p-0">
        <img
          src="/assets/img/System%20Logo4.png"
          style="width: 100%; height: 75px"
        />
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-dark" id="accordionSidebar">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/employee-page"
              (click)="navName = 'Employee'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span class="text-warning">Employee</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/supplier-page"
              (click)="navName = 'Supplier'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span class="text-warning">Supplier</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/product-page"
              (click)="navName = 'Product'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span class="text-warning">Product</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/debtor-page"
              (click)="navName = 'Debtor'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span class="text-warning">Debtor</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/sale-page"
              (click)="navName = 'Sale'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span class="text-warning">Sale</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/reports-page"
              (click)="navName = 'Reports'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span class="text-warning">Reports</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/audit-log-page"
              (click)="navName = 'Audit Log'; logoutTimerDisplay = false"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span
                class="text-warning"
                (click)="navName = 'Audit Log'; logoutTimerDisplay = false"
                >Audit Log</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              (click)="navName = 'Settings'; logoutTimerDisplay = true"
              ><i class="fas fa-tachometer-alt text-dark"></i
              ><span
                class="text-warning"
                (click)="navName = 'Settings'; logoutTimerDisplay = true"
                >Settings</span
              ></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav
          class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
        >
          <div class="container-fluid">
            <h1
              style="
                --bs-body-color: #000000;
                --bs-dark: #000000;
                --bs-dark-rgb: 0, 0, 0;
                color: rgb(0, 0, 0);
              "
            >
              {{ navName }}
            </h1>
            <ul class="navbar-nav flex-nowrap ms-auto">
              <li
                class="nav-item dropdown no-arrow"
                style="margin-top: 17px; margin-right: 15px"
                (click)="displayPDF = true"
              >
                <div class="nav-item dropdown no-arrow">
                  <a>
                    <span class="d-none d-lg-inline me-2 text-gray-600 small">
                      Help
                    </span>
                  </a>
                </div>
              </li>
              <li
                class="nav-item dropdown no-arrow"
                style="margin-top: 17px"
                (click)="logout()"
                routerLink="/app"
              >
                <div class="nav-item dropdown no-arrow">
                  <a>
                    <span class="d-none d-lg-inline me-2 text-gray-600 small">
                      LogOut
                    </span>
                  </a>
                </div>
              </li>
              <div class="d-none d-sm-block topbar-divider"></div>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                  <a>
                    <span class="d-none d-lg-inline me-2 text-gray-600 small">
                      {{ username }}
                    </span>
                    <img
                      class="border rounded-circle img-profile"
                      src="assets/img/avatars/avatar1.jpeg"
                  /></a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="pl-3">
          <div class="container-fluid" *ngIf="displayPDF">
            <div class="row" style="padding-bottom: 0px">
              <h1
                style="
                  width: fit-content;
                  height: 60px;
                  justify-content: space-around;
                "
              >
                Search:
              </h1>
              <input
                class="form-control"
                type="text"
                style="width: 300px; height: 35px"
                placeholder="Search..."
                (input)="search($event.target.value)"
              />
            </div>
            <div class="row" style="padding-bottom: 0px">
              <pdf-viewer
                [src]="pdfPath"
                [render-text]="true"
                style="display: block; height: 645px"
              ></pdf-viewer>
            </div>
            <button
              class="btn btn-primary"
              style="
                border-color: var(--bs-orange);
                background: var(--bs-orange);
                margin-top: 15px;
              "
              (click)="displayPDF = false"
            >
              Back
            </button>
          </div>
          <div *ngIf="!displayPDF">
            <router-outlet *ngIf="!logoutTimerDisplay"></router-outlet>
          </div>
          <app-logout-timer
            *ngIf="logoutTimerDisplay"
            (newItemEvent)="updateLogout($event)"
          ></app-logout-timer>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Oasys © Brand 2022</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
