<div class="container-fluid">
  <h1>Search Employee Type</h1>
  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 250px"
    [(ngModel)]="searchText"
    (input)="Search()"
  />

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Position Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeetype of employeetypes">
          <td>{{ employeetype.positioN_NAME }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="background: var(--bs-orange); margin-left: 10px; margin-top: 20px"
    routerLink="/employee-page"
  >
    Back
  </button>
</div>
