<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>Add Warning</h1>
  <h2 class="form-label" style="margin-left: 1%">New Warning Details:</h2>

  <form #form="ngForm" style="margin-left: 2%; width: 700px">
    <div class="row" style="margin-bottom: 15px">
      <div class="col">
        <label class="form-label" style="width: 100%">Employee name:</label>
        <select
          name="employeeName"
          id="employeeNameID"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="warning.employeE_ID"
          (click)="validateEmployee()"
          (input)="validateEmployee()"
        >
          <option disabled selected value="-1">Employee Name</option>
          <option
            *ngFor="let employee of employees"
            value="{{ employee.employeE_ID }}"
          >
            {{ employee.name }}
          </option>
        </select>
        <div *ngIf="!validEmployee" style="color: Red">
          Select An Employee Name
        </div>
      </div>
      <div class="col">
        <label class="form-label" style="width: 100%">Warning Type:</label>
        <select
          name="warningTypeName"
          id="warningTypeNameID"
          class="btn btn-primary"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="warning.warninG_TYPE_ID"
          (click)="validateWarningType()"
          (input)="validateWarningType()"
        >
          <option disabled selected value="-1">Warning Type</option>
          <option
            *ngFor="let warning of warningTypes"
            value="{{ warning.warninG_TYPE_ID }}"
          >
            {{ warning.description }}
          </option>
        </select>
        <div *ngIf="!validWarningType" style="color: Red">
          Select A Warning Type
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <div class="col">
        <label class="form-label">Warning name:</label>
        <input
          class="form-control"
          name="warningName"
          placeholder="Warning Name..."
          [(ngModel)]="warning.warininG_NAME"
          (input)="validateWarning()"
          (keyup)="validateWarning()"
        />
        <div *ngIf="!validWarning" style="color: Red">
          Select A Warning Name
        </div>
      </div>

      <div class="col">
        <label class="form-label">Reason:</label>
        <textarea
          type="text"
          class="form-control"
          placeholder="Reason For Warning..."
          name="warningReason"
          [(ngModel)]="warning.reason"
          style="height: 100px"
          rows="3"
          cols="30"
          (input)="validateReason()"
          (keyup)="validateReason()"
        ></textarea>
        <div *ngIf="!validReason" style="color: Red">Invalid Reason</div>
      </div>
    </div>
    <div *ngIf="!uniqueWarning" style="color: Red">Duplicate Warning</div>
    <div style="margin-top: 20px">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/employee-page"
        style="
          border-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-right: 30px;
          margin-top: 10px;
        "
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        type="button"
        style="
          border-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-top: 10px;
        "
        data-toggle="modal"
        data-target="#exampleModal"
        (pointerover)="FormValidate()"
        (mouseover)="FormValidate()"
        [disabled]="
          !validEmployee || !validWarning || !validReason || !uniqueWarning
        "
      >
        Add
      </button>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A Warning
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Warning Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/employee-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
