
<div class="container">
  <h1>Search warning</h1>
  <input
    type="search"
    style="padding-bottom: 0%; margin-bottom: 2%"
    placeholder="Search..."
    [(ngModel)]="searchText"
    (input)="Search()"
  />
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Warning Name</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dynamicArray">
          <td>{{ element.name }}</td>
          <td>{{ element.warningName }}</td>
          <td>{{ element.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="background: var(--bs-orange); margin-left: 10px"
    routerLink="/employee-page"
  >
    Back
  </button>
</div>
