<div class="container-fluid">
  <h1>Search warning</h1>
  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (keyup)="Search()"
  />

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Warning Name</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dynamicArray">
          <td>{{ element.name }}</td>
          <td>{{ element.warningName }}</td>
          <td>{{ element.reason }}</td>
        </tr>
      </tbody>
    </table>
    <button
      class="btn btn-primary"
      type="button"
      style="background: var(--bs-orange); margin-left: 10px"
      routerLink="/employee-page"
    >
      Back
    </button>
  </div>
</div>
