<div class="container-fluid">
  <h1>Make Sale</h1>
  <form style="width: 800px">
    <div class="container" style="height: 321px">
      <label class="form-label">Product barcode: </label
      ><input
        name="inputBarcode"
        type="text"
        [(ngModel)]="searchText"
        (keyup)="Search()"
        (input)="Search()"
        list="products"
        style="margin-bottom: 20px"
      />
      <datalist id="products">
        <option
          *ngFor="let product of products"
          value="{{ product.barcode }}"
        ></option>
      </datalist>

      <button
        class="btn btn-primary"
        type="button"
        style="
          border-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-left: 10px;
        "
        (click)="addProduct()"
      >
        Add {{ barcodeProductName }}
      </button>
      <div [hidden]="barcodeSelected">
        <p style="color: red">Type in barcode</p>
      </div>

      <div class="table-responsive" style="height: 250px">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity </th>
              <th style="width: 120.953px">Price excl. VAT</th>
              <th>Total price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dynamic of dynamicArray; let i = index">
              <td>{{ dynamic.name }}</td>
              <td>
                <input
                  type="number"
                  style="width: 65.5px"
                  value="{{ dynamic.quantity }}"
                  [(ngModel)]="dynamic.quantity"
                  [ngModelOptions]="{ standalone: true }"
                  (input)="CalQuan(i, dynamic.quantity)"
                />
              </td>
              <td>{{ dynamic.vatPrice }}</td>
              <td>{{ dynamic.total }}</td>
            </tr>
          </tbody>
        </table>
        <div [hidden]="quanValidate">
          <p style="color: red">Quantity must be more then 0</p>
        </div>
        <div [hidden]="moreThanOnHand">
          <p style="color: red">
            Quantity cannot be more than quantity on hand
          </p>
        </div>
      </div>
      <div
        style="
          height: 40px;
          width: 358px;
          margin-left: 604px;
          margin-bottom: 0px;
        "
      >
        <label class="form-label">Subtotal: R</label
        ><input type="number" value="{{ subTotal }}" disabled />
      </div>
      <div
        style="height: 65px; width: 503px; margin-left: 535px; margin-top: 9px"
      >
        <label class="form-label">TOTAL AMOUNT DUE: R</label
        ><input
          type="number"
          style="height: 42px; width: 275.5px"
          value="{{ totalAmount }}"
          disabled
        />
      </div>
      <div>
        <div class="row" [hidden]="productAdded">
          <div class="col-md-6">
            <label class="form-label" style="font-size: 21px; font-weight: bold"
              >Payment Method: </label
            >
            <div class="" style="margin-left: 3px">
              <select
                id="paymentID"
                class="btn"
                name="payment"
                style="
                  background: var(--bs-gray-100);
                  border-color: var(--bs-orange);
                  color: var(--bs-orange);
                "
                (input)="selectPayment($event.target.value)"
              >
                <option value="-1" disabled selected>Method</option>
                <option value="1">Cash</option>
                <option value="2">Card</option>
                <option value="3">Customer Account</option>
              </select>
            </div>
          </div>
          <div class="col-md-6" [hidden]="selectedPaymentMethod">
            <label class="form-label" style="font-size: 21px; font-weight: bold"
              >Customer account: </label
            >
            <div>
              <select
                id="customerAccountID"
                class="btn"
                name="customerAccount"
                style="
                  background: var(--bs-gray-100);
                  border-color: var(--bs-orange);
                  color: var(--bs-orange);
                "
                (input)="creditValidate($event.target.value)"
              >
                <option value="-1" disabled selected>Customer Name</option>
                <option
                  *ngFor="let customer of customerAccounts"
                  value="{{ customer.customeR_ACCOUNT_ID }}"
                >
                  {{ customer.name }}
                </option>
              </select>
            </div>
            <div [hidden]="customerCreditValidate">
              <p style="color: red">This customer has insufficient funds</p>
            </div>
          </div>
        </div>
        <!-- end of cutomer account stuff -->
        <div [hidden]="cash">
          <div style="height: 50px; margin-bottom: 0px; margin-top: 13px">
            <label class="form-label" style="font-weight: bold; font-size: 24px"
              >Amount tendered: R </label
            ><input
              type="number"
              style="height: 30px"
              value="{{ amountGiven }}"
              [(ngModel)]="amountGiven"
              [ngModelOptions]="{ standalone: true }"
              (input)="AmountEntered()"
            />
          </div>
          <div [hidden]="amountvalidate">
            <p style="color: red">The amount must be more than 0</p>
          </div>
          <div [hidden]="notEnough">
            <p style="color: red">The amount entered is not enough</p>
          </div>
          <div style="height: 58px; margin-bottom: 0px; margin-top: 10px">
            <label class="form-label" style="font-weight: bold; font-size: 35px"
              >Change: </label
            ><input
              type="number"
              style="height: 50px"
              value="{{ change }}"
              [(ngModel)]="change"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
        </div>
        <div style="width: 1000px; margin-top: 20px">
          <span>
            <button
              class="btn btn-primary"
              type="button"
              style="
                margin-left: 200px;
                border-color: var(--bs-orange);
                background: var(--bs-orange);
                width: 150px;
              "
              routerLink="/sale-page"
            >
              Back
            </button>
            <button
              class="btn btn-primary"
              type="button"
              style="
                margin-left: 490px;
                border-color: var(--bs-orange);
                background: var(--bs-orange);
                width: 150px;
              "
              data-toggle="modal"
              data-target="#exampleModal"
              [disabled]="
                showPrintRec ||
                !customerCreditValidate ||
                !amountvalidate ||
                !amountvalidate ||
                !customerCreditValidate ||
                !quanValidate ||
                !moreThanOnHand
              "
            >
              Print receipt
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like Make this sale
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Sale Made Successfully
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          (click)="Return()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
