

<form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group"></div>
</form>
<div class="container-fluid">
    <h3 class="text-dark mb-1">Add Product Category </h3>
</div>
<form style="width: 815px;margin-left: 67px;height: 401px;">
    <p>Product Category  Name:</p><input class="form-control" type="text" />
    <p style="margin-bottom: 20px;margin-top: 27px;">Product Category Description:</p><input class="form-control" type="text" /><button class="btn btn-primary" type="button" style="margin-bottom: -75px;margin-left: 377px;width: 102.8594px;">save </button>
</form>

