<div class="container-fluid">
  <h1>Add Product Category</h1>
  <h2 style="margin-left: 1%">New Product Category Details:</h2>
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    style="margin-left: 2%; max-width: 700px"
  >
    <div class="row">
      <div class="col-6">
        <label class="form-label">Product Category Name:</label>
        <input
          class="form-control"
          name="emplyeeName"
          type="text"
          [(ngModel)]="productCategory.categorY_NAME"
          (input)="nameValidate()"
          (keyup)="nameValidate()"
        />
        <div *ngIf="!validCategory" style="color: Red">
          Invalid Category Name
        </div>
        <div *ngIf="!uniqueCatName" style="color: Red">
          Duplicate Category Name
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label">Product Category Description:</label>
        <input
          class="form-control"
          name="emplyeeName"
          type="text"
          [(ngModel)]="productCategory.categorY_DESCRIPTION"
          (input)="descriptionValidate()"
          (keyup)="descriptionValidate()"
        />
        <div *ngIf="!validDescription" style="color: Red">
          Invalid Category Description
        </div>
      </div>
    </div>
    <div class="form-group">
      <span style="margin-top: 15px">
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/product-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="border-color: var(--bs-orange); background: var(--bs-orange)"
          [disabled]="!validCategory || !validDescription"
          (mouseover)="FormValidate()"
          (pointerover)="FormValidate()"
        >
          Save
        </button>
      </span>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="!successSubmit"
              >
                Are You Sure You Would Like To Add A New Product Category
              </h5>
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="successSubmit"
              >
                Product Category Successfully Added
              </h5>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                *ngIf="!successSubmit"
              >
                No
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-target="#exampleModal"
                *ngIf="!successSubmit"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                data-dismiss="modal"
                *ngIf="successSubmit"
                routerLink="/product-page"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
