<div class="container" *ngIf="!loggedIn">
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="card shadow-lg o-hidden border-0 m-5">
        <div class="card-body p-0">
          <div class="row justify-content-center">
            <div class="justify-content-center">
              <div
                class="p-5 justify-content-center"
                style="background: #111111"
              >
                <img
                  src="assets/img/System%20Logo5.png"
                  class="img-responsive"
                  style="width: 100%; height: auto"
                />
                <div class="text-center">
                  <h4 class="text-dark mb-4"></h4>
                </div>
                <form
                  class="user"
                  #loginForm="ngForm"
                  (ngSubmit)="login()"
                  autocomplete="off"
                >
                  <div class="mb-3">
                    <input
                      class="form-control form-control-user"
                      type="email"
                      id="userInpud"
                      aria-describedby="emailHelp"
                      placeholder="Username"
                      name="Username"
                      [(ngModel)]="username"
                    />
                    <div *ngIf="!details" style="color: Red">
                      Invalid Username
                    </div>
                  </div>
                  <div class="mb-3">
                    <input
                      class="form-control form-control-user"
                      type="password"
                      id="passwordInput"
                      placeholder="Password"
                      name="Password"
                      [(ngModel)]="password"
                    />
                    <div *ngIf="!sdetails" style="color: Red">
                      Invalid Password
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="custom-control custom-checkbox small">
                      <div class="form-check">
                        <input
                          class="form-check-input custom-control-input"
                          type="checkbox"
                          id="formCheck-1"
                          style="visibility: hidden"
                        /><label
                          class="form-check-label custom-control-label"
                          for="formCheck-1"
                          style="visibility: hidden"
                          >Remember Me</label
                        >
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-primary d-block btn-user w-100"
                    type="submit"
                    style="
                      background: #ff5722;
                      border-width: 0px;
                      font-size: large;
                    "
                    (click)="login()"
                  >
                    Login
                  </button>
                  <hr />
                  <hr />
                </form>
                <div class="text-center">
                  <a
                    class="small"
                    data-toggle="modal"
                    data-target="#ForgotPassModal"
                    data-whatever="@mdo"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ForgotPassModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ForgotPassModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="ForgotPassModalLabel">
          Please Enter Your Email
        </h2>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="your@email.com"
              (keyup)="ValidateEmail()"
              [(ngModel)]="email"
              [ngModelOptions]="{ standalone: true }"
            />
            <p *ngIf="!validEmail" style="color: red">
              Please Enter A Valid Employee Email
            </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (mouseover)="ForgetPassword()"
          [disabled]="!validEmail"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<app-nav
  *ngIf="loginAdmin"
  [loggedIn]="loggedIn"
  (return)="Back()"
  [username]="username"
></app-nav>
<app-nav-cashier
  *ngIf="loginCashier"
  [loggedIn]="loggedIn"
  (return)="Back()"
  [username]="username"
></app-nav-cashier>
<app-nav-employee
  *ngIf="loginEmployee"
  [loggedIn]="loggedIn"
  (return)="Back()"
  [username]="username"
></app-nav-employee>
<app-nav-general-manager
  *ngIf="loginGM"
  [loggedIn]="loggedIn"
  (return)="Back()"
  [username]="username"
></app-nav-general-manager>
<app-nav-hr
  *ngIf="loginHR"
  [loggedIn]="loggedIn"
  (return)="Back()"
  [username]="username"
></app-nav-hr>

<app-forgot-reset-password *ngIf="forgotPass"></app-forgot-reset-password>
