<div class="container-fluid">
  <h1>Add Employee</h1>
  <h2 style="margin-left: 1%">New Employee Details:</h2>
  <form #form="ngForm" style="margin-left: 2%; width: 700px">
    <div class="row" style="padding-bottom: 15px">
      <div class="col">
        <label class="form-label">Name:</label>
        <input
          class="form-control"
          placeholder="Employee Name"
          name="emplyeeName"
          type="text"
          [(ngModel)]="employee.name"
          (input)="ValidateName()"
          (keyup)="ValidateName()"
        />
        <div *ngIf="!details" style="color: Red">Invalid Name Details</div>
      </div>
      <div class="col">
        <label class="form-label">Surname:</label
        ><input
          class="form-control"
          type="text"
          placeholder="Employee Surname"
          required
          name="emplyeeSurname"
          [(ngModel)]="employee.surname"
          (keyup)="ValidateSurname()"
          (input)="ValidateSurname()"
        />
        <div *ngIf="!sdetails" style="color: Red">Invalid Surname Details</div>
      </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
      <div class="col">
        <label class="form-label">SA ID/Passport number:</label>
        <input
          class="form-control"
          name="employeeIdNumber"
          type="text"
          placeholder="6502035093085"
          [(ngModel)]="employee.employeE_ID_NUMBER"
          minlength="13"
          maxlength="13"
          (keyup)="ValidateIDNumber()"
          (input)="ValidateIDNumber()"
        />
        <div *ngIf="!passportVal" style="color: Red">Invalid ID Number</div>
        <div *ngIf="!uniquePassport" style="color: Red">
          Duplicate ID Number
        </div>
      </div>
      <div class="col">
        <label class="form-label">Contact Number: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              +27
            </div>
          </div>
          <input
            class="form-control"
            type="text"
            id="inlineFormInputGroup"
            name="emplyeeNumber"
            placeholder="123456789"
            minlength="9"
            maxlength="9"
            [(ngModel)]="employee.contacT_NUMBER"
            (keyup)="ValidateContactNumber()"
            (input)="ValidateContactNumber()"
          />
        </div>
        <div *ngIf="!numberVal" style="color: Red">Invalid Contact Number</div>
        <div *ngIf="!uniqueContactNumber" style="color: Red">
          Duplicate Contact Number
        </div>
      </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
      <div class="col">
        <label class="form-label" style="width: 100%">Title:</label>
        <select
          id="titleID"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          name="employeeTitle"
          (input)="titlevalidate($event.target.value)"
        >
          <option value="-1" disabled selected>Select a Title</option>
          <option value="Mr">Mr</option>
          <option value="Ms">Ms</option>
        </select>
        <div *ngIf="!tdetails" style="color: Red">Please Select a Title</div>
      </div>
      <div class="col">
        <label class="form-label">Email:</label
        ><input
          class="form-control"
          type="email"
          placeholder="example@email.com"
          required
          name="emplyeeEmail"
          [(ngModel)]="employee.email"
          (keyup)="ValidateEmail()"
          (input)="ValidateEmail()"
        />
        <div *ngIf="!edetails" style="color: Red">Invalid Email</div>
        <div *ngIf="!uniqueEmail" style="color: Red">Duplicate Email</div>
      </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
      <div class="col">
        <label class="form-label">Address:</label
        ><input
          class="form-control"
          name="employeeAddress"
          type="text"
          placeholder="Employee Address"
          required
          [(ngModel)]="employee.address"
          (keyup)="addressvalidate()"
          (input)="addressvalidate()"
        />
        <div *ngIf="!adetails" style="color: Red">Invalid Address</div>
      </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
      <div class="col-6">
        <label for="employeeRoleSelect" class="form-label" style="width: 100%"
          >Employee Role:</label
        >
        <select
          name="employeeRoleSelect"
          id="employeeRoleID"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="user.useR_ROLE_ID"
          (click)="roleValidate()"
          (input)="roleValidate()"
        >
          <option selected disabled value="0">Choose Employee Role</option>
          <option value="1" (click)="employeeSelected = false">
            General Manager
          </option>
          <option value="2" (click)="employeeSelected = false">
            Human Resource Manager
          </option>
          <option value="4" (click)="employeeSelected = true">Employee</option>
          <option hidden value="3">Employee</option>
        </select>
        <div *ngIf="!validRole" style="color: Red">
          Please Select An Employee Role
        </div>
      </div>
      <div class="col-6" *ngIf="employeeSelected">
        <label for="eployeeTypeSelect" class="form-label">Employee Type:</label>
        <select
          name="eployeeTypeSelect"
          id="employeeTypeID"
          class="btn"
          style="
            background: var(--bs-gray-100);
            border-color: var(--bs-orange);
            color: var(--bs-orange);
            width: 100%;
          "
          [(ngModel)]="employee.employeE_TYPE_ID"
          (click)="typeValidate()"
          (input)="typeValidate()"
        >
          <option selected disabled value="0">Choose The Employee Type</option>
          <option
            *ngFor="let employeeType of employeeTypes"
            value="{{ employeeType.employeE_TYPE_ID }}"
          >
            {{ employeeType.positioN_NAME }}
          </option>
        </select>
        <div *ngIf="!validType" style="color: Red">
          Please Select An Employee Type
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-top: 15px">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/employee-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="border-color: var(--bs-orange); background: var(--bs-orange)"
          [disabled]="
            !details ||
            !sdetails ||
            !tdetails ||
            !edetails ||
            !adetails ||
            !numberVal ||
            !passportVal ||
            !validRole ||
            !validType ||
            !uniquePassport ||
            !uniqueEmail ||
            !uniqueContactNumber
          "
          (pointerover)="FormValidate()"
          (mouseover)="FormValidate()"
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A New Employee
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Employee Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/employee-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
