<!----------------------------- Debtor Cards ------------------------------>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Debtor</h5>
  </div>
</div>

<div class="card-group">
  <div class="card" routerLink="/add-debtor">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-plus text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Add Debtor
      </button>
    </div>
  </div>
  <div class="card" routerLink="/search-debtor">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-search text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Search Debtor
      </button>
    </div>
  </div>
  <div class="card" routerLink="/maintain-debtor">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-pencil-alt text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Maintain Debtor
      </button>
    </div>
  </div>
</div>

<hr />

<!------------------------- Credit Cards ------------------------------->

<div class="card">
  <div class="card-header">
    <h5
      class="mb-0"
      style="
        --bs-primary: #3c404d;
        --bs-primary-rgb: 60, 64, 77;
        color: rgb(0, 0, 0);
        font-weight: bold;
      "
    >
      Credit Application
    </h5>
  </div>
</div>

<div class="card-group">
  <div class="card" routerLink="/apply-for-credit">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-pencil-alt text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Apply For Credit
      </button>
    </div>
  </div>
  <div class="card" routerLink="/approve-credit">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-check text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Approve Credit
      </button>
    </div>
  </div>
  <div class="card" routerLink="/view-debtor-account">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-eye text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        View Debtor Account
      </button>
    </div>
  </div>
</div>
