<div class="container-fluid">
  <h1>Update Product Category</h1>
  <h2 style="margin-left: 1%">Product Category Details:</h2>
  <form #form="ngForm" style="margin-left: 2%; max-width: 700px">
    <div class="row">
      <div class="col-6">
        <label class="form-label">Product Category Name:</label>
        <input
          class="form-control"
          name="emplyee"
          type="text"
          [(ngModel)]="productCategory.categorY_NAME"
          (click)="namevalidate()"
          (keyup)="namevalidate()"
        />
        <div *ngIf="!details" style="color: Red">Invalid Category Name</div>
        <div *ngIf="!uniqueName" style="color: Red">
          Duplicate Category Name
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label">Product Category Description:</label>
        <input
          class="form-control"
          name="emplyeeName"
          type="text"
          [(ngModel)]="productCategory.categorY_DESCRIPTION"
          (click)="survalidate()"
          (keyup)="survalidate()"
        />
        <div *ngIf="!sdetails" style="color: Red">
          Invalid Category Description
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-top: 15px">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="Return()"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#updateModal"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
          "
          (mouseover)="FormValidate()"
          [disabled]="!details || !sdetails || !uniqueName"
        >
          Save
        </button>
      </span>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Update This Product Category
        </h5>
        <h5 class="modal-title" id="updateModalLabel" *ngIf="successSubmit">
          Product Category Successfully Updated
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#updateModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#updateModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          (click)="Return()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
