<h1>Sale</h1>

<div class="card-group">
  <div class="card" routerLink="/make-sale">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-plus text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Make Sale
      </button>
    </div>
  </div>
  <div class="card" routerLink="/search-sale">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-search text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Search Sale
      </button>
    </div>
  </div>
  <div class="card" routerLink="/return-sale">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-pencil-alt text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Return Sale
      </button>
    </div>
  </div>
</div>
