<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
  ></i>
  <h1>Update Wage Rate</h1>
  <h2 style="margin-left: 1%">Wage Rate Details:</h2>
  <form #form="ngForm" style="margin-left: 2%; width: 700px">
    <div class="row" style="padding-bottom: 15px">
      <div class="col-6">
        <label class="form-label" style="width: 100%">Wage rate name:</label>
        <input
          name="WageName"
          id="WageNameID"
          class="form-control"
          disabled
          [(ngModel)]="rateName"
        />
      </div>
    </div>
    <div class="row" style="padding-bottom: 15px">
      <div class="col-6">
        <label class="form-label">Wage rate(R/h):</label>
        <input
          class="form-control"
          type="number"
          placeholder="0.00"
          name="rate"
          [(ngModel)]="rate.ratE_AMOUNT"
          (input)="validateMoney()"
        />
        <div *ngIf="!validMoney" style="color: Red">Invalid Wage Rate</div>
      </div>
    </div>

    <div class="form-group" style="margin-top: 15px">
      <button
        type="button"
        class="btn btn-primary"
        (click)="Return()"
        style="
          border-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-right: 30px;
        "
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
        style="
          border-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-right: 0px;
        "
        data-toggle="modal"
        data-target="#exampleModal"
        [disabled]="!validMoney || !validRateName"
        (pointerover)="FormValidate()"
        (mouseover)="FormValidate()"
      >
        Save
      </button>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Update This Wage Rate
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Wage Rate Successfully Updated
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          (click)="Return()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
