<div class="container-fluid">
  <h1>Update wage rate</h1>
  <form #form="ngForm" style="margin-left: 1%; width: 800px">
    <h2 class="form-label">New wage rate details:</h2>

    <div class="row">
      <label class="form-label">Wage rate name:</label>
      <h2>{{ rate.ratE_NAME }}</h2>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="form-label">Wage rate(R/h):</label>
        <input
          class="form-control"
          type="number"
          placeholder="Rand"
          name="rate"
          [(ngModel)]="rate.ratE_AMOUNT"
          (input)="validateMoney()"
        />
        <div *ngIf="!validMoney" style="color: Red">Invalid Wage Rate</div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      (click)="Return()"
      style="
        border-color: var(--bs-orange);
        background: var(--bs-orange);
        margin-right: 30px;
        margin-top: 10px;
      "
    >
      Cancel
    </button>
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="modal"
      data-target="#exampleModal"
      style="
        border-color: var(--bs-orange);
        background: var(--bs-orange);
        margin-right: 0px;
        margin-top: 10px;
      "
      data-toggle="modal"
      data-target="#exampleModal"
      [disabled]="!validMoney || !validRateName"
      (pointerover)="FormValidate()"
      (mouseover)="FormValidate()"
    >
      Update
    </button>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Update This New Wage Rate
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Wage Rate Successfully Updated
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/maintain-wage-rate"
          (click)="Return()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
