<div class="row">
  <div class="col-6">
    <h1>Audit Log</h1>

    <div class="card-group">
      <div class="card col-6" routerLink="/audit-log">
        <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
          <i
            class="fas fa-eye text-warning"
            style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
          ></i
          ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
            View Audit Log
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
