<form
  class="text-dark"
  style="
    width: 720px;
    height: 500px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border-color: var(--bs-orange);
  "
>
  <h1 style="width: 500px">Create {{ supplier.name }} Order</h1>

  <div class="table-responsive" style="height: 150px; margin-top: 70px">
    <table class="table">
      <thead>
        <tr>
          <th>Product Category</th>
          <th>Product type</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody id="bodyElement">
        <tr id="productElement">
          <td>
            <select
              id="categoryID"
              class="btn"
              name="PCategory"
              style="
                background: var(--bs-gray-100);
                border-color: var(--bs-orange);
                color: var(--bs-orange);
              "
              (input)="categorySelect($event.target.value)"
            >
              <option value="" disabled selected>Product Category</option>
              <option
                id="categoryOption"
                value=" {{ productCategory.producT_CATEGORY_ID }} "
                *ngFor="let productCategory of productCategories"
              >
                {{ productCategory.categorY_NAME }}
              </option>
            </select>
          </td>
          <td>
            <select
              id="typeID"
              class="btn"
              name="PType"
              style="
                background: var(--bs-gray-100);
                border-color: var(--bs-orange);
                color: var(--bs-orange);
              "
              [disabled]="!categorySelected"
              (input)="typeSelect($event.target.value)"
            >
              <option value="-1" disabled selected>Product Type</option>
              <option
                id="typeOption"
                value=" {{ productType.producT_TYPE_ID }} "
                *ngFor="let productType of productTypesTemp"
              >
                {{ productType.typE_NAME }}
              </option>
            </select>
          </td>
          <td>
            <select
              id="nameID"
              class="btn"
              name="PName"
              style="
                background: var(--bs-gray-100);
                border-color: var(--bs-orange);
                color: var(--bs-orange);
              "
              [disabled]="!typeSelected"
              (input)="
                activateQuantity = false;
                pID = $event.target.value;
                nameSelect()
              "
            >
              <option value="-1" disabled selected>Product Name</option>
              <option
                id="nameOption"
                value=" {{ product.producT_ID }} "
                *ngFor="let product of productsTemp"
                (click)="pID = product.producT_ID"
              >
                {{ product.producT_NAME }}
              </option>
            </select>
          </td>
          <td>
            <input
              (click)="quantityVali()"
              id="quantityID"
              [disabled]="activateQuantity"
              class="form-control"
              type="number"
              name="inputQuantity"
              style="width: 100px"
              [(ngModel)]="quantity"
            />
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <i style="color: red" [hidden]="completeSelection"
    >Please Complete the product selection</i
  >
  <i style="color: red" [hidden]="completeQuantity"
    >Quantity must be more than 0</i
  >
  <button
    class="btn btn-primary"
    type="button"
    style="
      float: right;
      background: var(--bs-orange);
      border-color: var(--bs-orange);
    "
    (click)="addProduct()"
    id="addProductID"
  >
    Add Product Order
  </button>
  <div
    class="table-responsive"
    style="height: 150px; margin-top: 70px; margin-bottom: 50px"
  >
    <table class="table">
      <thead>
        <tr>
          <th>Product Category</th>
          <th>Product type</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!ordered">
          No product orders have added yet
        </tr>
        <tr *ngFor="let dynamic of dynamicArray; let i = index">
          <td>{{ dynamic.category }}</td>
          <td>{{ dynamic.type }}</td>
          <td>{{ dynamic.name }}</td>
          <td>{{ dynamic.quantity }}</td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="submit"
    style="
      background: var(--bs-orange);
      border-color: var(--bs-orange);
      margin-right: 0px;
    "
    [disabled]="!completeSelection || !completeQuantity"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Place Order
  </button>
  <button
    class="btn btn-primary"
    type="button"
    style="
      background: var(--bs-orange);
      border-color: var(--bs-orange);
      margin-left: 500px;
    "
    (click)="back()"
  >
    Back
  </button>
</form>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A New Supplier Order
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Order Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit(); successSubmit = true"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          (click)="back()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
