<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
  ></i>
  <form style="max-width: 1000px">
    <h1 style="width: 500px">Create {{ supplier.name }} Order</h1>

    <div class="table-responsive" style="height: 150px; margin-top: 30px">
      <table class="table">
        <thead>
          <tr>
            <th>Product Category</th>
            <th>Product type</th>
            <th>Product Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody id="bodyElement">
          <tr id="productElement">
            <td>
              <select
                id="categoryID"
                class="btn"
                name="PCategory"
                style="
                  background: var(--bs-gray-100);
                  border-color: var(--bs-orange);
                  color: var(--bs-orange);
                "
                (input)="categorySelect($event.target.value)"
              >
                <option value="" disabled selected>Product Category</option>
                <option
                  id="categoryOption"
                  value=" {{ productCategory.producT_CATEGORY_ID }} "
                  *ngFor="let productCategory of productCategories"
                >
                  {{ productCategory.categorY_NAME }}
                </option>
              </select>
            </td>
            <td>
              <select
                id="typeID"
                class="btn"
                name="PType"
                style="
                  background: var(--bs-gray-100);
                  border-color: var(--bs-orange);
                  color: var(--bs-orange);
                "
                [disabled]="!categorySelected"
                (input)="typeSelect($event.target.value)"
              >
                <option value="-1" disabled selected>Product Type</option>
                <option
                  id="typeOption"
                  value=" {{ productType.producT_TYPE_ID }} "
                  *ngFor="let productType of productTypesTemp"
                >
                  {{ productType.typE_NAME }}
                </option>
              </select>
            </td>
            <td>
              <select
                id="nameID"
                class="btn"
                name="PName"
                style="
                  background: var(--bs-gray-100);
                  border-color: var(--bs-orange);
                  color: var(--bs-orange);
                "
                [disabled]="!typeSelected"
                (input)="
                  activateQuantity = false;
                  pID = $event.target.value;
                  nameSelect()
                "
              >
                <option value="-1" disabled selected>Product Name</option>
                <option
                  id="nameOption"
                  value=" {{ product.producT_ID }} "
                  *ngFor="let product of productsTemp"
                  (input)="pID = product.producT_ID"
                >
                  {{ product.producT_NAME }}
                </option>
              </select>
            </td>
            <td>
              <input
                (click)="ValidateQuantity()"
                (input)="ValidateQuantity()"
                id="quantityID"
                [disabled]="activateQuantity"
                class="form-control"
                type="number"
                name="inputQuantity"
                style="width: 100px"
                [(ngModel)]="quantity"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <i style="color: red" [hidden]="completeSelection"
      >Please Complete the product selection</i
    >
    <i style="color: red" [hidden]="completeQuantity"
      >Quantity must be more than 0 and a whole number</i
    >
    <i style="color: red" [hidden]="!inOrderAlready">
      This Product Is Already In The Order
    </i>
    <button
      class="btn btn-primary"
      type="button"
      style="
        float: right;
        background: var(--bs-orange);
        border-color: var(--bs-orange);
      "
      (click)="addProduct()"
      id="addProductID"
    >
      Add Product Order
    </button>

    <div
      class="table-responsive"
      style="max-height: 400px; margin-top: 70px; margin-bottom: 10px"
    >
      <table class="table">
        <thead>
          <tr>
            <th>Product Category</th>
            <th>Product type</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!ordered">
            No product orders have added yet
          </tr>
          <tr *ngFor="let dynamic of dynamicArray; let i = index">
            <td>{{ dynamic.category }}</td>
            <td>{{ dynamic.type }}</td>
            <td>{{ dynamic.name }}</td>
            <td>{{ dynamic.quantity }}</td>
            <td (click)="deleteRow(i)">
              <button
                class="btn btn-primary"
                style="
                  background: var(--bs-orange);
                  border-color: var(--bs-orange);
                "
              >
                <i class="fa fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn btn-primary"
      type="button"
      style="background: var(--bs-orange); border-color: var(--bs-orange)"
      (click)="back()"
    >
      Back
    </button>
    <button
      class="btn btn-primary"
      type="submit"
      style="
        background: var(--bs-orange);
        border-color: var(--bs-orange);
        float: right;
      "
      [disabled]="!completeSelection || !completeQuantity || !ordered"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Place Order
    </button>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A New Supplier Order
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Order Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          (click)="back()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
