<div class="container-fluid">
  <h1>Add Product Type</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit()" style="margin-left: 1%">
    <div class="row">
      <label class="form-label">Product Category:</label>
      <select
        name="productCategory"
        id="productCategory"
        class="btn btn-primary"
        style="
          background: var(--bs-gray-100);
          border-color: var(--bs-orange);
          color: var(--bs-orange);
          width: fit-content;
        "
        [(ngModel)]="productType.producT_CATEGORY_ID"
        (input)="categoryValidate()"
      >
        <option value="-1" selected disabled>Product Category</option>
        <option
          value=" {{ productCategory.producT_CATEGORY_ID }} "
          *ngFor="let productCategory of productCategories"
        >
          {{ productCategory.categorY_NAME }}
        </option>
      </select>
      <div *ngIf="!cdetails" style="color: Red">Category Required</div>
    </div>

    <div class="row">
      <label class="form-label">Product Type Name:</label>
      <input
        class="form-control"
        name="emplyeeName"
        type="text"
        style="width: 300px"
        [(ngModel)]="productType.typE_NAME"
        (click)="namevalidate()"
        (keyup)="namevalidate()"
      />
      <div *ngIf="!details" style="color: Red">Invalid Details</div>
    </div>
    <div class="form-group">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/product-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
            margin-top: 10px;
          "
          [disabled]="!details || !cdetails"
        >
          Save
        </button>
      </span>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="!successSubmit"
              >
                Are You Sure You Would Like To Add A New Product Type
              </h5>
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="successSubmit"
              >
                Product Type Successfully Added
              </h5>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                *ngIf="!successSubmit"
              >
                No
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-target="#exampleModal"
                *ngIf="!successSubmit"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                data-dismiss="modal"
                *ngIf="successSubmit"
                routerLink="/product-page"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
