<div class="container-fluid" *ngIf="!approveCredit">
  <h1>Select an application that you would like to review</h1>
  <form>
    <input
      class="form-control search-input"
      type="text"
      name="search-bar"
      placeholder="Search..."
      style="width: 320px"
      [(ngModel)]="searchText"
      (keyup)="Search()"
    />

    <hr />

    <div class="table-responsive" style="max-height: 600px">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname </th>
            <th> Contact Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customerApplication of customerApplicationsTemp">
            <td>{{ customerApplication.name }}</td>
            <td>{{ customerApplication.surname }}</td>
            <td>0{{ customerApplication.contactNumber }}</td>
            <td>{{ customerApplication.email }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="
                  approveCredit = true; populateForm(customerApplication)
                "
                type="button"
                style="
                  margin-left: 0px;
                  border-color: var(--bs-orange);
                  background: var(--bs-orange);
                  height: 34px;
                  width: 86px;
                "
              >
                <i class="far fa-eye"></i> View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn btn-primary"
      routerLink="/debtor-page"
      type="button"
      style="border-color: var(--bs-orange); background: var(--bs-orange)"
    >
      Back
    </button>
  </form>
</div>

<app-view-credit-account
  *ngIf="approveCredit"
  [customerApplication]="customerApplication"
  (return)="back()"
></app-view-credit-account>
