<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div id="content-1" *ngIf="!displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <app-clock-in-and-out></app-clock-in-and-out>
  <div class="card" routerLink="/collect-payslip">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-pencil-alt text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Collect Payslip
      </button>
    </div>
  </div>
</div>
