<h1>&nbsp;Add wage rate</h1>
<div class="container-fluid">
  <label
    class="form-label"
    style="
      margin: 1%;
      font-weight: bold;
      margin-top: 0%;
      font-size: 19px;
      padding-right: 0;
      padding-left: 0%;
    "
    >New wage rate details:</label
  >
</div>
<form
#form="ngForm" (ngSubmit)="onSubmit()"
>
  <label
    class="form-label"
    style="margin: 1%; margin-top: 0%; padding-right: 0; padding-left: 2%"
    >Wage rate name:</label
  >
  <div class="container" style="margin-left: 3%">
    <input type="text" style="padding-right: 0" name="rateName" [(ngModel)]="rate.ratE_NAME"/>
  </div>
  <label
    class="form-label"
    style="margin: 1%; margin-top: 3%; padding-right: 0; padding-left: 2%"
    >Wage rate(R/h):</label
  >
  <div class="container" style="margin-left: 3%">
    <label class="form-label"> </label
    ><label class="form-label"
      ><input type="number" placeholder="Rand" name="rate" [(ngModel)]="rate.ratE_AMOUNT"/>/h
    </label>
  </div>
  <div class="container" style="margin-left: 3%">
    <button class="btn btn-primary" type="submit" style="margin-top: 7%">
      Add
    </button>
  </div>
</form>
