<div class="container-fluid">
  <h1>Add Employee Type</h1>
  <form #form="ngForm" style="margin-left: 1%">
    <h2>Add New Employee Type Details:</h2>
    <label class="form-label">Position Name:</label
    ><input
      class="form-control"
      name="positionName"
      type="text"
      style="margin-left: 10px; width: 400px"
      [(ngModel)]="employeetype.positioN_NAME"
      (keyup)="namevalidate()"
    />
    <div *ngIf="!details" style="color: Red">Invalid Details</div>
    <button
      class="btn btn-primary"
      type="button"
      style="background: var(--bs-orange); margin-top: 20px; margin-left: 10px"
      routerLink="/employee-page"
    >
      Back
    </button>
    <button
      class="btn btn-primary"
      type="submit"
      style="background: var(--bs-orange); margin-top: 20px; margin-left: 30px"
      [disabled]="!details"
      (pointerover)="namevalidate()"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Save
    </button>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!successSubmit">
          Are You Sure You Would Like To Add A New Employee Type
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="successSubmit">
          Employee Type Successfully Added
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successSubmit"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-target="#exampleModal"
          *ngIf="!successSubmit"
          (click)="onSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successSubmit"
          routerLink="/employee-page"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
