<div class="container">
  <h1>Search warning type</h1>
  <input
    type="search"
    style="padding-bottom: 0%; margin-bottom: 2%"
    placeholder="Search..."
    [(ngModel)]="searchText"
    (input)="Search()"
  />
</div>
<div class="container-fluid">
  <div
    class="table-responsive"
  >
    <table class="table">
      <thead>
        <tr>
          <th>Warning type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warningtype of warningtypes">
          <td>
            {{ warningtype.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="background: var(--bs-orange); margin-left: 10px"
    routerLink="/employee-page"
  >
    Back
  </button>
</div>
