<!------------------------------- Product Cards -------------------------->

<div class="row">
  <h1>Products</h1>

  <div class="card-group">
    <div class="card" routerLink="/add-product">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-plus text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Add Product
        </button>
      </div>
    </div>
    <div class="card" routerLink="/search-product">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-search text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Search Product
        </button>
      </div>
    </div>
    <div class="card" routerLink="/maintain-product">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-pencil-alt text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Maintain Product
        </button>
      </div>
    </div>
  </div>
</div>

<!------------------------- Product Category Cards -------------------------->

<div class="row">
  <h1>Product Category</h1>

  <div class="card-group">
    <div class="card" routerLink="/add-product-category">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-plus text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Add Product Category
        </button>
      </div>
    </div>
    <div class="card" routerLink="/search-product-category">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-search text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Search Product Category
        </button>
      </div>
    </div>
    <div class="card" routerLink="/maintain-product-category">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-pencil-alt text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Maintain Product Category
        </button>
      </div>
    </div>
  </div>
</div>

<!------------------------------ Product Type Cards -------------------------->

<div class="row">
  <h1>Product Type</h1>

  <div class="card-group">
    <div class="card" routerLink="/add-product-type">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-plus text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Add Product Type
        </button>
      </div>
    </div>

    <div class="card" routerLink="/search-product-type">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-search text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Search Product Type
        </button>
      </div>
    </div>

    <div class="card" routerLink="/maintain-product-type">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-pencil-alt text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Maintain Product Type
        </button>
      </div>
    </div>
  </div>
</div>

<!------------------------- Inventory Cards -------------------------------->

<div class="row">
  <h1>Inventory</h1>

  <div class="card-group">
    <div class="card" routerLink="/complete-stocktake">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-pencil-alt text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Complete Stocktake
        </button>
      </div>
    </div>
    <div class="card" routerLink="/write-off">
      <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
        <i
          class="fas fa-trash text-warning"
          style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
        ></i
        ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
          Write Off
        </button>
      </div>
    </div>
  </div>
</div>
