<h1>Reports</h1>

<div class="card-group">
  <div class="card" routerLink="/sales-report">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-eye text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Sales Report
      </button>
    </div>
  </div>
  <div class="card" routerLink="/debtors-report">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-eye text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Debtors Report
      </button>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card" routerLink="/wage-report">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-eye text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Wage Report
      </button>
    </div>
  </div>
  <div class="card" routerLink="/stock-report">
    <div class="card-body" style="border: 2px solid var(--bs-gray-900)">
      <i
        class="fas fa-eye text-warning"
        style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
      ></i
      ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
        Stock Report
      </button>
    </div>
  </div>
</div>
