<div id="content-1" style="color: var(--bs-indigo)">
  <div class="card">
    <div class="card-header">
      <h5
        class="mb-0"
        style="
          --bs-primary: #3c404d;
          --bs-primary-rgb: 60, 64, 77;
          color: rgb(0, 0, 0);
          font-weight: bold;
          font-size: large;
        "
      >
        Reports
      </h5>
    </div>
  </div>
  <div class="card-group">
    <div class="row" style="width: 100%">
      <div class="card col-6">
        <div
          class="card-body"
          style="border: 2px solid var(--bs-gray-900)"
          routerLink="/sales-report"
        >
          <i
            class="fas fa-pencil-alt text-warning"
            style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
          ></i
          ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
            Sales Report
          </button>
        </div>
      </div>

      <div class="card col-6">
        <div
          class="card-body"
          style="border: 2px solid var(--bs-gray-900)"
          routerLink="/debtors-report"
        >
          <i
            class="fas fa-pencil-alt text-warning"
            style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
          ></i
          ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
            Debtor's Report
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="row" style="width: 100%">
      <div class="card col-6">
        <div
          class="card-body"
          style="border: 2px solid var(--bs-gray-900)"
          routerLink="/wage-report"
        >
          <i
            class="fas fa-pencil-alt text-warning"
            style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
          ></i
          ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
            Wage Report
          </button>
        </div>
      </div>

      <div class="card col-6">
        <div
          class="card-body"
          style="border: 2px solid var(--bs-gray-900)"
          routerLink="/stock-report"
        >
          <i
            class="fas fa-pencil-alt text-warning"
            style="--bs-warning: #ff7a00; --bs-warning-rgb: 255, 122, 0"
          ></i
          ><button class="btn" type="button" style="color: rgb(0, 0, 0)">
            Stock Report
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
