<app-update-debtor
  *ngIf="updateDebtor"
  [debtor]="debtor"
  (return)="back()"
></app-update-debtor>

<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
    maxlength="50"
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" *ngIf="!displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    *ngIf="!updateDebtor"
    (click)="displayPDF = true"
    >Help</i
  >
  <form *ngIf="!updateDebtor">
    <h1>Maintain Debtor</h1>

    <input
    maxlength="50"
    maxlength="50"
      class="form-control search-input"
      type="text"
      name="search-bar"
      placeholder="Search..."
      style="width: 320px"
      [(ngModel)]="searchText"
      (input)="Search()"
      (keyup)="Search()"
    />

    <hr />

    <div class="table-responsive" style="max-height: 600px">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debtor of debtorsTemp">
            <td>{{ debtor.name }}</td>
            <td>{{ debtor.surname }}</td>
            <td>0{{ debtor.contacT_NUMBER }}</td>
            <td>{{ debtor.email }}</td>
            <td>
              <button
                class="btn btn-primary"
                type="button"
                style="
                  background: var(--bs-orange);
                  border-color: var(--bs-orange);
                "
                (click)="updateDebtor = true; populateForm(debtor)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                class="btn btn-primary"
                type="button"
                style="background: var(--bs-red); border-color: var(--bs-red)"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="deletee(debtor)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn btn-primary"
      type="button"
      routerLink="/debtor-page"
      style="
        border-color: var(--bs-orange);
        background: var(--bs-orange);
        margin-left: 10px;
        margin-top: 20px;
      "
    >
      Back
    </button>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
          *ngIf="!successDelete && !hasDebt"
        >
          Are You Sure You Would Like To Delete This Debtor
        </h5>
        <h5
          class="modal-title"
          id="exampleModalLabel"
          *ngIf="successDelete && !hasDebt"
        >
          Debtor Successfully Deleted
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="hasDebt">
          Cannot Delete Debtor While There Is Outstanding Debt
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDelete && !hasDebt"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          name="deleteDebtor"
          data-target="#exampleModal"
          *ngIf="!successDelete && !hasDebt"
          (click)="deleteDebtor()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="successDelete"
          routerLink="/debtor-page"
        >
          OK
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="hasDebt"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
