<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>Add Supplier</h1>
  <h2 style="margin-left: 1%">New Supplier Details</h2>
  <form
    style="width: 700px; margin-left: 2%"
    #form="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Name:</label
        ><input
          class="form-control"
          name="positionName"
          placeholder="Name..."
          type="text"
          [(ngModel)]="supplier.name"
          (input)="ValidateName()"
          (keyup)="ValidateName()"
        />
        <div *ngIf="!details" style="color: Red">Invalid Name</div>
        <div *ngIf="!uniqueName" style="color: Red">Duplicate Name</div>
      </div>
      <div class="col">
        <label class="form-label">VAT Number:</label
        ><input
          class="form-control"
          name="vatnum"
          placeholder="Vat..."
          type="text"
          [(ngModel)]="supplier.vaT_NUMBER"
          (input)="ValidateVat()"
          (keyup)="ValidateVat()"
        />
        <div *ngIf="!vdetails" style="color: Red">Invalid Vat Number</div>
        <div *ngIf="!uniqueVat" style="color: Red">Duplicate Vat Number</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Contact Number:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              +27
            </div>
          </div>
          <input
            class="form-control"
            type="text"
            required
            id="inlineFormInputGroup"
            name="emplyeeNumber"
            placeholder="123456789"
            minlength="9"
            maxlength="9"
            [(ngModel)]="supplier.contacT_NUMBER"
            (input)="ValidateContactNumber()"
            (keyup)="ValidateContactNumber()"
          />
        </div>
        <div *ngIf="!cdetails" style="color: Red">Invalid Contact Number</div>
        <div *ngIf="!uniqueContactNumber" style="color: Red">
          Duplicate Contact Number
        </div>
      </div>
      <div class="col">
        <label class="form-label">Alternate Contact Number:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              class="input-group-text"
              style="
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              "
            >
              +27
            </div>
          </div>
          <input
            class="form-control"
            type="text"
            required
            id="inlineFormInputGroup"
            name="emplyeeNumber"
            placeholder="123456789"
            minlength="9"
            maxlength="9"
            [(ngModel)]="supplier.alT_NUMBER"
            (input)="VaildateAltNumber()"
            (keyup)="VaildateAltNumber()"
          />
        </div>
        <div *ngIf="!adetails" style="color: Red">Invalid Alternate Number</div>
        <div *ngIf="!validAlt" style="color: Red">
          Alt and Contact Number Cannot Be The Same
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label">Email:</label
        ><input
          class="form-control"
          name="email"
          placeholder="exmaple@email.com"
          type="email"
          [(ngModel)]="supplier.email"
          (input)="ValidateEmail()"
          (keyup)="ValidateEmail()"
        />
        <div *ngIf="!edetails" style="color: Red">Invalid Email</div>
        <div *ngIf="!uniqueEmail" style="color: Red">Duplicate Email</div>
      </div>
    </div>

    <div class="form-group" style="margin-top: 15px">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/supplier-page"
          style="
            border-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="border-color: var(--bs-orange); background: var(--bs-orange)"
          [disabled]="
            !details ||
            !edetails ||
            !vdetails ||
            !cdetails ||
            !adetails ||
            !uniqueVat ||
            !uniqueEmail ||
            !uniqueContactNumber ||
            !validAlt ||
            !uniqueName
          "
          (mouseover)="FormValidate()"
        >
          Save
        </button>
      </span>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="!successSubmit"
              >
                Are You Sure You Would Like To Add A New Supplier
              </h5>
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="successSubmit"
              >
                Supplier Successfully Added
              </h5>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                *ngIf="!successSubmit"
              >
                No
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-target="#exampleModal"
                *ngIf="!successSubmit"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                data-dismiss="modal"
                *ngIf="successSubmit"
                routerLink="/supplier-page"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
