<div class="containter-fluid">
  <form
    style="
      width: 450px;
      height: 200px;
      margin-left: 80px;
      margin-bottom: 0px;
      margin-top: 50px;
    "
    #form="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <h1 style="margin-left: -2%">Add Supplier</h1>

    <label class="form-label">Name:</label
    ><input
      class="form-control"
      name="positionName"
      placeholder="Name"
      type="text"
      style="margin-left: 10px; width: 400px"
      [(ngModel)]="supplier.name"
      (click)="ValidateName()"
      (keyup)="ValidateName()"
    />
    <div *ngIf="!details" style="color: Red">Invalid Name</div>

    <label class="form-label">VAT Number:</label
    ><input
      class="form-control"
      name="vatnum"
      placeholder="0"
      type="text"
      style="margin-left: 10px; width: 400px"
      [(ngModel)]="supplier.vaT_NUMBER"
      (click)="ValidateVat()"
      (keyup)="ValidateVat()"
    />
    <div *ngIf="!vdetails" style="color: Red">Invalid Vat Number</div>

    <label class="form-label">Contact Number:</label>
    <div class="input-group prefix" style="width: 88.6%; margin-left: 10px">
      <span
        class="input-group-addon"
        style="display: flex; justify-content: center; align-items: center"
        >+27</span
      >
      <input
        class="form-control"
        type="tel"
        required
        name="emplyeeNumber"
        placeholder=""
        required
        minlength="9"
        maxlength="9"
        style="margin-left: 5px"
        [(ngModel)]="supplier.contacT_NUMBER"
        (keyup)="ValidateContactNumber()"
      />
    </div>
    <div *ngIf="!cdetails" style="color: Red">Invalid Contact Number</div>

    <label class="form-label">Alternate Contact Number:</label>
    <div class="input-group prefix" style="width: 88.6%; margin-left: 10px">
      <span
        class="input-group-addon"
        style="display: flex; justify-content: center; align-items: center"
        >+27</span
      >
      <input
        class="form-control"
        type="tel"
        required
        name="emplyeeAltNumber"
        placeholder=""
        required
        minlength="9"
        maxlength="9"
        style="margin-left: 5px"
        [(ngModel)]="supplier.alT_NUMBER"
        (keyup)="VaildateAltNumber()"
      />
    </div>
    <div *ngIf="!adetails" style="color: Red">Invalid Alternate Number</div>

    <label class="form-label">Email:</label
    ><input
      class="form-control"
      name="email"
      placeholder="exmaple@email.com"
      type="email"
      style="margin-left: 10px; width: 400px"
      [(ngModel)]="supplier.email"
      (click)="ValidateEmail()"
      (keyup)="ValidateEmail()"
    />
    <div *ngIf="!edetails" style="color: Red">Invalid Email</div>
    <div class="form-group" style="margin-top: 20px">
      <span>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/supplier-page"
          style="
            border-right-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 30px;
            margin-top: 10px;
          "
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          style="
            border-right-color: var(--bs-orange);
            background: var(--bs-orange);
            margin-right: 0px;
            margin-top: 10px;
          "
          [disabled]="
            !details || !edetails || !vdetails || !cdetails || !adetails
          "
          (mouseover)="FormValidate()"
        >
          Save
        </button>
      </span>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="!successSubmit"
              >
                Are You Sure You Would Like To Add A New Supplier
              </h5>
              <h5
                class="modal-title"
                id="exampleModalLabel"
                *ngIf="successSubmit"
              >
                Supplier Successfully Added
              </h5>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                *ngIf="!successSubmit"
              >
                No
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-target="#exampleModal"
                *ngIf="!successSubmit"
              >
                Yes
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                data-dismiss="modal"
                *ngIf="successSubmit"
                routerLink="/supplier-page"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
