<form
  style="
    width: 450px;
    height: 200px;
    margin-left: 80px;
    margin-bottom: 0px;
    margin-top: 50px;
  "
  #form="ngForm"
  (ngSubmit)="onSubmit()"
>
  <h1 style="color: rgb(0, 0, 0); margin-left: 10px">Add Supplier</h1>
  <div class="container-fluid">
    <h3 class="text-dark mb-1"></h3>
  </div>

  <label class="form-label" style="margin-left: 10px; color: rgb(0, 0, 0)"
    >Name:</label
  ><input
    class="form-control"
    name="positionName"
    placeholder="Name"
    type="text"
    style="margin-left: 10px; width: 400px"
    [(ngModel)]="supplier.name"
    (click)="namevalidate()"
    (keyup)="namevalidate()"
  />

  <div *ngIf="!details" style="color: Red">Invalid Details</div>
  <label class="form-label" style="margin-left: 10px; color: rgb(0, 0, 0)"
    >VAT Number:</label
  ><input
    class="form-control"
    name="vatnum"
    placeholder="0"
    type="text"
    style="margin-left: 10px; width: 400px"
    [(ngModel)]="supplier.vaT_NUMBER"
    (click)="Vatvalidate()"
    (keyup)="Vatvalidate()"
  />
  <div *ngIf="!vdetails" style="color: Red">Invalid Details</div>

  <label class="form-label" style="margin-left: 10px; color: rgb(0, 0, 0)"
    >Contact Number:</label
  ><input
    class="form-control"
    name="connum"
    placeholder="0"
    type="text"
    style="margin-left: 10px; width: 400px"
    [(ngModel)]="supplier.contacT_NUMBER"
    (click)="Contactvalidate()"
    (keyup)="Contactvalidate()"
  />
  <div *ngIf="!cdetails" style="color: Red">Invalid Details</div>

  <label class="form-label" style="margin-left: 10px; color: rgb(0, 0, 0)"
    >Alternate Contact Number:</label
  ><input
    class="form-control"
    name="altnum"
    placeholder="0"
    type="text"
    style="margin-left: 10px; width: 400px"
    [(ngModel)]="supplier.alT_NUMBER"
    (click)="Altvalidate()"
    (keyup)="Altvalidate()"
  />
  <div *ngIf="!adetails" style="color: Red">Invalid Details</div>

  <label class="form-label" style="margin-left: 10px; color: rgb(0, 0, 0)"
    >Email:</label
  ><input
    class="form-control"
    name="email"
    placeholder="exmaple@email.com"
    type="email"
    style="margin-left: 10px; width: 400px"
    [(ngModel)]="supplier.email"
    (click)="emailvalidate()"
    (keyup)="emailvalidate()"
  />
  <div *ngIf="!edetails" style="color: Red">Invalid Details</div>
  <!-- <button class="btn btn-primary" (click)="Return()">Cancel</button> -->
  <div class="form-group">
    <span>
      <button
        type="button"
        class="btn btn-primary"
        (click)="Return()"
        style="
          border-right-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-right: 30px;
          margin-top: 10px;
        "
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
        style="
          border-right-color: var(--bs-orange);
          background: var(--bs-orange);
          margin-right: 0px;
          margin-top: 10px;
        "
        *ngIf="details && edetails && vdetails && cdetails && adetails"
      >
        Save
      </button>
    </span>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
              *ngIf="!successSubmit"
            >
              Are You Sure You Would Like To Add A New Supplier
            </h5>
            <h5
              class="modal-title"
              id="exampleModalLabel"
              *ngIf="successSubmit"
            >
              Supplier Successfully Added
            </h5>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              *ngIf="!successSubmit"
            >
              No
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-target="#exampleModal"
              *ngIf="!successSubmit"
            >
              Yes
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
              data-dismiss="modal"
              *ngIf="successSubmit"
              (click)="Return()"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
