<div class="container-fluid" *ngIf="!updateDebtor">
  <h1>Select a Debtor that you would like to view</h1>
  <form>
    <input
      class="form-control search-input"
      type="text"
      name="search-bar"
      placeholder="Search..."
      style="width: 320px"
      [(ngModel)]="searchText"
      (input)="Search()"
      (keyup)="Search()"
    />

    <hr />

    <div class="table-responsive" style="max-height: 600px">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname </th>
            <th> Contact Number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customerAccount of customerAccountsTemp">
            <td>{{ customerAccount.name }}</td>
            <td>{{ customerAccount.surname }}</td>
            <td>0{{ customerAccount.contacT_NUMBER }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="populateForm(customerAccount)"
                type="button"
                style="
                  border-color: var(--bs-orange);
                  background: var(--bs-orange);
                "
              >
                <i class="far fa-eye"></i> View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn btn-primary"
      routerLink="/debtor-page"
      type="button"
      style="border-color: var(--bs-orange); background: var(--bs-orange)"
    >
      Back
    </button>
  </form>
</div>

<app-update-debtor
  *ngIf="updateDebtor"
  [debtor]="customerAccount"
  (return)="back()"
  [title]="'Debtor Account'"
></app-update-debtor>
