<div class="container-fluid">
  <h1>Search Product Type</h1>

  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (keyup)="Search()"
  />

  <hr />

  <div class="table-responsive" style="max-height: 550px">
    <table class="table">
      <thead>
        <tr>
          <th>Product Type ID</th>
          <th>&nbsp;Product Type Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productType of productTypesTemp">
          <td>{{ productType.producT_TYPE_ID }}</td>
          <td>{{ productType.typE_NAME }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-left: 10px;
      margin-top: 10px;
    "
    routerLink="/product-page"
  >
    Back
  </button>
</div>
