<app-update-wage-rate
  *ngIf="updateRate"
  [rate]="rate"
  (return)="back()"
></app-update-wage-rate>

<div class="container-fluid" *ngIf="displayPDF">
  <div class="row" style="padding-bottom: 0px">
    <h1 style="width: fit-content; height: 60px; justify-content: space-around">
      Search:
    </h1>
    <input
      class="form-control"
      type="text"
      style="width: 300px; height: 35px"
      placeholder="Search..."
      (input)="search($event.target.value)"
    />
  </div>
  <div class="row" style="padding-bottom: 0px">
    <pdf-viewer
      [src]="pdfPath"
      [render-text]="true"
      style="display: block; height: 645px"
    ></pdf-viewer>
  </div>
  <button
    class="btn btn-primary"
    style="
      border-color: var(--bs-orange);
      background: var(--bs-orange);
      margin-top: 15px;
    "
    (click)="displayPDF = false"
  >
    Back
  </button>
</div>

<div class="container-fluid" *ngIf="!updateRate" [hidden]="displayPDF">
  <i
    class="fa fa-question-circle"
    aria-hidden="true"
    style="float: right"
    (click)="displayPDF = true"
    >Help</i
  >
  <h1>Maintain wage rate</h1>

  <input
    class="form-control search-input"
    type="text"
    name="search-bar"
    placeholder="Search..."
    style="width: 320px"
    [(ngModel)]="searchText"
    (input)="Search()"
    (keyup)="Search()"
  />

  <hr />

  <div class="table-responsive" style="max-height: 600px">
    <table class="table">
      <thead>
        <tr>
          <th>Wage Rate Name</th>
          <th>Amount (/h)</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of dynamicArray">
          <td>{{ rate.name }}</td>
          <td>R{{ rate.amount }}</td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="
                background: var(--bs-orange);
                border-color: var(--bs-orange);
              "
              (click)="populateForm(rate.rate)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              style="background: var(--bs-red); border-color: var(--bs-red)"
              data-toggle="modal"
              data-target="#wageRateDeleteModal"
              (click)="deletee(rate.rate)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="
      background: var(--bs-orange);
      border-color: var(--bs-orange);
      margin-top: 20px;
    "
    routerLink="/employee-page"
  >
    Back
  </button>
</div>

<div
  class="modal fade"
  id="wageRateDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="wageRateDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="wageRateDeleteModalLabel"
          *ngIf="!successDelete && !hasReference"
        >
          Are You Sure You Would Like To Delete This Wage Rate
        </h5>
        <h5
          class="modal-title"
          id="wageRateDeleteModalLabel"
          *ngIf="successDelete"
        >
          Wage Rate Successfully Deleted
        </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="hasReference">
          All Employees With This Wage Rate Must be Changes First
        </h5>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          *ngIf="!successDelete && !hasReference"
        >
          No
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          name="deleteempl"
          data-target="#wageRateDeleteModal"
          *ngIf="!successDelete && !hasReference"
          (click)="deleteWageRate()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#wageRateDeleteModal"
          data-dismiss="modal"
          *ngIf="successDelete"
          routerLink="/employee-page"
        >
          OK
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          data-dismiss="modal"
          *ngIf="hasReference"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
